<img src="https://teambo.com/i/icon/teambo192.png" style="width: 192px; height: 192px; margin: 2em auto; display: block;">
<div style="padding: 1em 0; background: rgba(0,0,0,0.1); color: rgba(0,0,0,0.7); max-width: 32em; margin: 0 auto;">
<p style="font-family: arial; text-align: center;">
    Click the link below to verify your new Teambo account<br/>
</p>
<p style="font-family: arial; text-align: center; padding: 0 2em;">
    <a href='{{.link}}' style="font-size: 0.9em; display: block; padding: 0; word-break: break-all;">{{.link}}</a>
</p>
</div>
<p style="font-family: arial;text-align: center;font-size: 1em;color: rgba(0,0,0,0.4);">
    {{.email}}
</p>
