<div id="dashboard" class="c require-auth require-team chat-collapsed">
    <div class="main container">
        <div class="nav hi-05 left side" id="left"></div>
        <div class="area scrollable">
            <div class="content" id="main"></div>
        </div>
        <span class="spinner c-20" id="loader"><i class="icon-logo"></i></span>
    </div>
    <div class="right container side" id="right"></div>
    <div class="chat container" id="chat" data-autoclose="{{chat.autoclose}}">
        {{>team/layout/chat}}
    </div>
    <link id="theme" type='text/css' rel='stylesheet'/>
</div>
