<div class="search">
    <nav class="breadcrumbs">
        <a href="#{{team.url}}" class="active" data-keybind="q escape `">Team</a>
        <span class="active">Search</span>
    </nav>
    <h1><i class="icon-flashlight"></i> Search</h1>
    <div class="up1c">
        <form id="search" name="search" method="GET" class="std" data-q="{{q}}">
            <div class="field">
                <input id="q" type="text" class="text required min-len-2" name="q" value="{{q}}" autocomplete="off" placeholder="Query" />
            </div>
            <div class="field">
                <input type="submit" class="submit" value="Search" />
                <a class="cancel" href="#{{team.url}}">cancel</a>
            </div>
            <div class="error"></div>
        </form>
    </div>
    <div id="search-results" class="up1c"></div>
</div>
