<ul class="history">
{{#history}}
    <li data-iv="{{iv}}" class="hi-05 color-50">
        <div class="hi-05 color-70 section">
        {{#member}}
            <div class="img"><i class="{{icon}}"></i></div>
            <div class="name">
                <a class="value color-70" href="#{{url}}">{{opts.name}}</a>
                <span class="date">{{#localTime}}{{ts}}{{/localTime}}</span>
            </div>
        {{/member}}
        {{^member}}
            <div class="img"><i class="icon-user-1"></i></div>
            <div class="name">
                (unknown member) {{diff.member_id}}
                <span class="date">{{#localTime}}{{ts}}{{/localTime}}</span>
            </div>
        {{/member}}
        </div>
        <div class="diff">
        {{#diff_keys}}
            {{#diff_parent_id}}
            <div class="parent_id"><span class="k">Parent</span> {{#first}}set{{/first}}{{^first}}changed{{/first}} to <span class="value color-70">{{diff.parent_id}}</span></div>
            {{/diff_parent_id}}
            {{#diff_name}}
            <div class="name"><span class="k">Name</span> changed to <span class="value color-70">{{diff.name}}</span></div>
            {{/diff_name}}
            {{#diff_status}}
            <div class="status"><span class="k">Status</span> {{#first}}set{{/first}}{{^first}}changed{{/first}} to <span class="value color-70">{{#status}}<i class="icon-{{icon}}"></i>{{label}}{{/status}}</span></div>
            {{/diff_status}}
            {{#diff_bucket_id}}
            <div class="bucket_id">
                {{#first}}Added{{/first}}{{^first}}Moved{{/first}} to
                {{#bucket}}<a class="value color-70" href="#{{url}}"><i class="icon-{{icon}}"></i>{{opts.name}}</a>{{/bucket}}{{^bucket}}deleted bucket {{diff.bucket_id}}{{/bucket}}
            </div>
            {{/diff_bucket_id}}
            {{#diff_plan_id}}
                {{#diff.plan_id}}
                <div class="plan_id">
                    {{#first}}Added{{/first}}{{^first}}Moved{{/first}} to
                    {{#plan}}<a class="value color-70" href="#{{url}}"><i class="icon-{{icon}}"></i>{{opts.name}}</a>{{/plan}}{{^plan}}deleted plan {{diff.plan_id}}{{/plan}}</div>
                {{/diff.plan_id}}
                {{^diff.plan_id}}{{^first}}
                <div class="plan_id">Removed from planning</div>
                {{/first}}{{/diff.plan_id}}
            {{/diff_plan_id}}
            {{#diff_member_id}}
                {{#diff.member_id}}
                <div class="member_id">Assigned to {{#assignee}}<a class="value color-70" href="#{{url}}"><i class="{{icon}}"></i>{{opts.name}}</a>{{/assignee}}{{^assignee}}deleted member {{diff.member_id}}{{/assignee}}</div>
                {{/diff.member_id}}
                {{^diff.member_id}}
                <div class="member_id">Unassigned</div>
                {{/diff.member_id}}
            {{/diff_member_id}}
            {{#diff_description}}
                {{#diff.description}}
                <div class="description text">
                    <span class="k">Description</span> {{#first}}set{{/first}}{{^first}}changed{{/first}} <a data-toggle="history-description-{{iv}}"><i class="icon-angle-down"></i></a>
                    <p class="value color-70 description toggle-target hi-05 patch open" data-toggle-target="history-description-{{iv}}">{{{nice_description_patch}}}</p>
                </div>
                {{/diff.description}}
                {{^diff.description}}{{^first}}
                <div class="description text">
                    <span class="k">Description</span> removed
                </div>
                {{/first}}{{/diff.description}}
            {{/diff_description}}
            {{#diff_text}}
                {{#diff.text}}
                <div class="description text">
                    <span class="k">Text</span> {{#first}}set{{/first}}{{^first}}changed{{/first}} <a data-toggle="history-text-{{iv}}"><i class="icon-angle-down"></i></a>
                    <p class="value color-70 description toggle-target hi-05 patch open" data-toggle-target="history-text-{{iv}}">{{{nice_text_patch}}}</p>
                </div>
                {{/diff.text}}
                {{^diff.text}}{{^first}}
                <div class="description text">
                    <span class="k">Text</span> removed
                </div>
                {{/first}}{{/diff.text}}
            {{/diff_text}}
        {{/diff_keys}}
        </div>
    </li>
{{/history}}
</ul>
