<section class="history up1c">
    <h2>
        <a id="history-{{id}}-trigger" class="history-trigger"><i class="icon-clock"></i> History
        <i class="icon-angle-down" title="Show History"></i></a>
    </h2>
    <div id="history-{{id}}" class="history-target"></div>
</section>
