{{#team}}
    {{#queue.length}}
        <a href="#{{team.url}}/outbox" class="outbox hi-10"><i class="icon-upload"></i><span>{{queue.length}}</span></a>
    {{/queue.length}}
{{/team}}
{{#app.online}}
    {{#app.updateready}}
        Update Ready
    {{/app.updateready}}
    {{^app.updateready}}
        Online
    {{/app.updateready}}
{{/app.online}}
{{^app.online}}
    Offline
{{/app.online}}
