<div class="bucket">
    <nav class="breadcrumbs">
        <a href="#{{team.url}}" class="active" data-keybind="q escape">Team</a>
        <span class="active">Sprints</span>
    </nav>
    <h1><i class="icon-flag-filled"></i> Sprints</h1>
</div>
