env            dev
debug          true
app.host       dev.teambo.com
app.data       /var/lib/teambo
ssl.active     true
ssl.crt        ssl/generic.crt
ssl.key        ssl/generic.key
smtp.host      mailtrap.io
smtp.port      465
smtp.user      __USER__
smtp.pass      __PASS__
smtp.from      noreply@teambo.com
static.cache   false
static.min     false
app.manifest   true
tests.enabled  true
port.http      80
port.https     443