<li class="item" id="folder-li-{{id}}">
    <a href="#{{url}}" class="dim">
        <div class="img"><i class="icon-{{icon}} color-30"></i></div>
        <span class="name">{{opts.name}}</span>
    </a>
</li>
