<div class="folder-remove" require-model="folder">
{{#model.folder.current}}
    <nav class="breadcrumbs">
        <a href="#{{team.url}}/folders" title="Items"><i class="icon-archive"></i></a>
        <a href="#{{url}}" data-keybind="Q" data-keybind-alt="escape"><i class="icon-folder"></i></a>
        <span title="Remove Folder"><i class="icon-trash"></i></span>
    </nav>
    <h1><i class="icon-folder-open"></i> {{opts.name}}</h1>
    <form id="folder-remove" name="folder_remove" method="POST" class="std ext remove">
        <input type="hidden" class="hidden" name="id" value="{{id}}"/>
        <p>Are you sure you want to remove this folder?</p>
        <div class="field submit">
            <input type="submit" class="submit" value="Remove Folder" id="delete_submit" />
            <br/>
            <a class="cancel" href="#{{url}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
{{/model.folder.current}}
</div>
