<div class="folder-view" require-model="folder">
{{#model.folder.current}}
    <nav class="breadcrumbs">
        <a href="#{{team.url}}" class="active" data-keybind="q escape `">Team</a>
        <span class="active">Folder</span>
    </nav>
    <nav>
    {{^fake}}
        <a href="#{{url}}/edit" data-keybind="e">Edit</a>
    {{/fake}}
        <a href="#{{url}}/new" data-keybind="c">Create Item</a>
    </nav>
    <h1><i class="icon-folder-open"></i> {{opts.name}}</h1>
    {{#opts.description}}
    <div class="up1c">
        <section class="description color-bg">{{opts.description}}</section>
    </div>
    {{/opts.description}}
    <a id="skipnav" class="skip-nav" href="#{{url}}"></a>
    {{#item_collection}}
    {{#filter_incomplete}}
    {{^empty}}
        <div class="up1c">
            <ul class="items incomplete spaced">
            {{#each}}
                {{>team/item/_li}}
            {{/each}}
            </ul>
        </div>
    {{/empty}}
    {{/filter_incomplete}}
    {{#filter_complete}}
    {{^empty}}
        <div class="up1c upshort">
            <h4>Complete</h4>
        </div>
        <div class="up1c">
            <ul class="items complete">
            {{#each}}
                {{>team/item/_li}}
            {{/each}}
            </ul>
        </div>
    {{/empty}}
    {{/filter_complete}}
    {{#empty}}
        <p class="empty hi-05 color-30">This folder has no items</p>
    {{/empty}}
    {{/item_collection}}
{{/model.folder.current}}
</div>
