<div class="folder-view" require-model="folder">
{{#model.folder.current}}
    <nav class="breadcrumbs icon-nav">
        <a href="#{{team.url}}/folders" data-keybind="Q" data-keybind-alt="escape" title="Items"><i class="icon-archive"></i></a>
        <span class="active"><i class="icon-{{icon}}"></i></span>
    </nav>
    <nav class="icon-nav">
    {{^fake}}
        <a href="#{{url}}/edit" data-keybind="E" title="Edit Folder"><i class="icon-pencil"></i></a>
    {{/fake}}
        <a href="#{{url}}/new" data-keybind="C" title="Create Item"><i class="icon-plus-1"></i></a>
    </nav>
    <h1><i class="icon-folder-open"></i> {{opts.name}}</h1>
    {{#opts.description}}
    <div class="up1c">
        <section class="description color-bg">{{opts.description}}</section>
    </div>
    {{/opts.description}}
    <a id="skipnav" class="skip-nav" href="#{{url}}"></a>
    {{#item_collection}}
    {{#filter_incomplete}}
    {{^empty}}
        <div class="up1c">
            <ul class="items incomplete spaced">
            {{#each}}
                {{>team/item/_li}}
            {{/each}}
            </ul>
        </div>
    {{/empty}}
    {{/filter_incomplete}}
    {{#filter_complete}}
    {{^empty}}
        <div class="up1c upshort">
            <h4>Complete</h4>
        </div>
        <div class="up1c">
            <ul class="items complete">
            {{#each}}
                {{>team/item/_li}}
            {{/each}}
            </ul>
        </div>
    {{/empty}}
    {{/filter_complete}}
    {{#empty}}
        <div class="up1c">
            <p class="empty hi-05 color-30">This folder has no items</p>
        </div>
    {{/empty}}
    {{/item_collection}}
{{/model.folder.current}}
</div>
