<div class="item-remove" require-model="item">
{{#model.item.current}}
    <nav class="breadcrumbs">
        <a href="#{{team.url}}/planning" class="hi-20" title="Planning"><i class="icon-calendar-check-o"></i></a>
        {{#model.plan.current}}
        <a href="#{{url}}" title="Plan"><i class="icon-{{icon}}"></i></a>
        {{/model.plan.current}}
        {{^model.plan.current}}
        {{#folder}}<a href="#{{url}}"><i class="icon-{{icon}}"></i></a>{{/folder}}
        {{/model.plan.current}}
        <a href="#{{url}}" data-keybind="Q" data-keybind-alt="escape" title="Item"><i class="icon-{{icon}}"></i></a>
        <span title="Remove Item"><i class="icon-trash"></i></span>
    </nav>
    <h1>{{#status}}<i class="icon-{{icon}}"></i>{{/status}} {{opts.name}}</h1>
    <form id="item-remove" name="item_remove" method="POST" class="std ext remove">
        <input type="hidden" class="hidden" name="item_id" value="{{id}}"/>
        <input type="hidden" class="hidden" name="folder_id" value="{{#folder}}{{id}}{{/folder}}"/>
        <p>Are you sure you want to remove this item?</p>
        <div class="field submit">
            <input type="submit" class="submit" id="delete_submit" value="Remove Item" />
            <br/>
            <a class="cancel" href="#{{url}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
{{/model.item.current}}
</div>
