<div class="section team hi-20">
    <a href="#{{team.url}}" class="default-focus">
        <div class="img"><i class="icon-users"></i></div>
        <div class="name">{{team.opts.name}}</div>
    </a>
</div>
<div class="scrollable">
    {{#team.bucket_list}}
    <div class="section">
        <a href="#{{url}}" class="hi-10 bucket" data-obj="bucket-{{id}}">
            <div class="img"><i class="icon-folder"></i><i class="icon-folder-open"></i></div>
            <div class="name">{{opts.name}}</div>
            <div class="progress" data-progress="{{progress}}"></div>
        </a>
    </div>
    {{/team.bucket_list}}
</div>
<div class="section">
    <a href="#{{team.url}}/members">
        <div class="img"><i class="icon-user-1"></i></div>
        <div class="name">Members</div>
    </a>
    <a href="#{{team.url}}/edit">
        <div class="img"><i class="icon-wrench"></i></div>
        <div class="name">Settings</div>
    </a>
</div>
<div id="status"></div>
