<div class="section team hi-20">
    <a href="#/account" class="default-focus">
        <div class="img"><i class="icon-logo"></i></div>
        <div class="name">{{team.opts.name}}</div>
    </a>
</div>
<div class="scrollable">
    <div class="section hi-10">
        <i class="icon-down-open-1 nav on color-hi-40"></i>
        <a href="#{{team.url}}/plan" class="nav-section" data-keybind="p">
            <div class="img"><i class="icon-calendar-check-o"></i></div>
            <div class="name">Planning</div>
        </a>
    </div>
    <div class="section plans subsection">
    {{#model.plan.all}}
        <a href="#{{url}}" class="folder {{active}}" data-obj="plan-{{id}}">
            <div class="img"><i class="icon-flag-1"></i></div>
            <div class="name">{{opts.name}}</div>
            <div class="progress hi-10" data-progress="{{progress}}"></div>
        </a>
    {{/model.plan.all}}
    </div>
    <div class="section hi-10">
        <i class="icon-down-open-1 nav on color-hi-40"></i>
        <a href="#{{team.url}}/folders" class="nav-section" data-keybind="i">
            <div class="img"><i class="icon-archive"></i></div>
            <div class="name">Items</div>
        </a>
    </div>
    <div class="section folders subsection">
    {{#model.folder.list}}
        <a href="#{{url}}" class="folder {{active}}" data-obj="folder-{{id}}">
            <div class="img"><i class="icon-folder"></i><i class="icon-folder-open"></i></div>
            <div class="name">{{opts.name}}</div>
            <div class="progress hi-10" data-progress="{{progress}}"></div>
        </a>
    {{/model.folder.list}}
    </div>
    <div class="section hi-10">
        <i class="icon-down-open-1 nav on color-hi-40"></i>
        <a href="#{{team.url}}/wiki" class="nav-section" data-keybind="k">
            <div class="img"><i class="icon-book"></i></div>
            <div class="name">Wiki</div>
        </a>
    </div>
    <div class="section wiki subsection">
    {{#model.wiki.top}}
        <a href="#{{url}}" class="folder {{active}}" data-obj="wiki-{{id}}">
            <div class="img"><i class="icon-{{icon}}"></i></div>
            <div class="name">{{opts.name}}</div>
        </a>
    {{/model.wiki.top}}
    </div>
    <div class="section hi-10">
        <i class="icon-down-open-1 nav on color-hi-40"></i>
        <a href="#{{team.url}}/members" class="nav-section" data-keybind="m">
            <div class="img"><i class="icon-users"></i></div>
            <div class="name">Members</div>
        </a>
    </div>
    <div class="section members subsection">
    {{#model.member.all}}
    {{#opts.pubKey}}
        <a href="#{{url}}" class="member {{active}}" data-obj="member-{{id}}">
            <div class="img"><i class="{{icon}}"></i></div>
            <div class="name">{{opts.name}}</div>
        </a>
    {{/opts.pubKey}}
    {{/model.member.all}}
    </div>
    <!--
    <div class="section hi-10">
        <i class="icon-down-open-1 nav color-hi-40"></i>
        <a href="#{{team.url}}/archives" class="nav-section">
            <div class="img"><i class="icon-trash"></i></div>
            <div class="name">Archives</div>
        </a>
    </div>
    -->
    {{#team.isAdmin}}
    <div class="section hi-10">
        <i class="icon-down-open-1 nav color-hi-40"></i>
        <a href="#{{team.url}}/edit" class="nav-section" data-keybind="t">
            <div class="img"><i class="icon-wrench"></i></div>
            <div class="name">Settings</div>
        </a>
    </div>
    {{/team.isAdmin}}
</div>
<div id="status"></div>
