<div class="section hi-20">
    <a href="#/account" class="nav-section" data-keybind="f g">
        <div class="img"><i class="icon-angle-up"></i></div>
        <div class="name">Account</div>
    </a>
</div>
<div class="section account hi-15">
    {{#acct.current.member}}
    <a href="#{{url}}" class="default-focus">
        <div class="img"><i class="{{icon}}"></i></div>
        <div class="name">{{opts.name}}</div>
    </a>
    {{/acct.current.member}}
</div>
<div class="workload scrollable">
    {{#model.plan.collect_all}}
    {{#filter_incomplete_items_mine}}
    {{#each}}
    <div class="section">
        <i class="icon-minus nav"></i>
        <div class="totals">
            {{item_count}}
        </div>
        <a href="#{{url}}" class="hi-10 folder {{active}}" data-obj="plan-{{id}}">
            <div class="img"><i class="icon-{{icon}}"></i></div>
            <div class="name">{{opts.name}}</div>
            <div class="progress hi-15" data-progress="{{progress}}"></div>
        </a>
        {{#item_collection}}
        {{#filter_mine}}
        {{#filter_incomplete}}
        {{^empty}}
        <ul class="items subsection">
            {{#each}}
            <li class="item-{{opts.status}}">
                <a href="#{{url}}" data-obj="item-{{id}}">{{#status}}<i class="icon-{{icon}}"></i>{{/status}}{{opts.name}}</a>
            </li>
            {{/each}}
        </ul>
        {{/empty}}
        {{/filter_incomplete}}
        {{/filter_mine}}
        {{/item_collection}}
    </div>
    {{/each}}
    {{/filter_incomplete_items_mine}}
    {{/model.plan.collect_all}}
</div>
<div class="call"></div>
