<li class="item status-{{opts.status}}" id="item-li-{{id}}">
    <a href="#{{url}}" class="hi-05">
        {{#status}}
        <i class="icon-{{icon}}" role="img" alt="{{label}}" title="{{label}}"></i>
        {{/status}}
        {{#member}}
            {{#isMe}}
            <i class="{{icon}} member-icon" title="{{opts.name}}"></i>
            {{/isMe}}
            {{^isMe}}
            <i class="{{icon}} member-icon color-30" title="{{opts.name}}"></i>
            {{/isMe}}
        {{/member}}
        <span class="name">{{opts.name}}</span>
        {{#opts.description}}
        <p class="description color-50">{{#nl2br}}{{.}}{{/nl2br}}</p>
        {{/opts.description}}
    </a>
</li>
