<li id="plan-li-{{id}}">
    <a href="#{{url}}" class="dim">
        <div class="img"><i class="icon-{{icon}} color-30"></i></div>
        <span class="name">{{opts.name}}</span>
        {{#opts.desc}}
        <p class="description color-50">{{opts.desc}}</p>
        {{/opts.desc}}
    </a>
</li>
