<div class="plan-remove" require-model="plan">
{{#plan.current}}
    <nav class="breadcrumbs">
        <a href="#{{team.url}}">Team</a>
        <a href="#{{url}}" data-keybind="q escape `">Plan</a>
        <span>Remove</span>
    </nav>
    <h1><i class="icon-{{icon}}"></i> {{opts.name}}</h1>
    <form id="plan-remove" name="plan_remove" method="POST" class="std ext remove">
        <input type="hidden" class="hidden" name="id" value="{{id}}"/>
        <p>Are you sure you want to remove this plan?</p>
        <div class="field submit">
            <input type="submit" class="submit" value="Remove Plan" id="delete_submit" />
            <br/>
            <a class="cancel" href="#{{url}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
{{/plan.current}}
</div>
