<div class="plan-view folder-view" require-model="plan">
{{#model.plan.current}}
    <nav class="breadcrumbs">
        <a href="#{{team.url}}">Team</a>
        <a href="#{{team.url}}/plan" data-keybind="q escape `">Planning</a>
        <span class="active">Plan</span>
    </nav>
    <nav>
        <a href="#{{url}}/edit" data-keybind="e">Edit</a>
        <a href="#{{url}}/new" data-keybind="c">Create Item</a>
    </nav>
    <h1><i class="icon-{{icon}}"></i> {{opts.name}} <span class="sub">{{item_count_incomplete}} / {{item_count}}</span></h1>
    {{#opts.start}}
    <div class="up1c">
        {{opts.start}} - {{opts.end}}
    </div>
    {{/opts.start}}
    {{#opts.desc}}
    <div class="up1c">
        <section class="description color-bg">{{opts.desc}}</section>
    </div>
    {{/opts.desc}}
    <a name="skipnav" class="skip-nav" href="#{{url}}"></a>
    <div>
        <div class="up3c">
            <h4>Unassigned</h4>
            <ul class="items incomplete">
            {{#item_list_incomplete_unassigned}}
                {{>team/plan/_item-li}}
            {{/item_list_incomplete_unassigned}}
            {{^item_list_incomplete_unassigned}}
                <p class="empty color-30">None</p>
            {{/item_list_incomplete_unassigned}}
            </ul>
        </div>
        <div class="up3c">
            <h4>Assigned</h4>
            <ul class="items incomplete">
            {{#item_list_incomplete_assigned}}
                {{>team/plan/_item-li}}
            {{/item_list_incomplete_assigned}}
            {{^item_list_incomplete_assigned}}
                <p class="empty color-30">None</p>
            {{/item_list_incomplete_assigned}}
            </ul>
        </div>
        <div class="up3c">
            <h4>Complete</h4>
            <ul class="items complete">
            {{#item_list_complete}}
                {{>team/plan/_item-li}}
            {{/item_list_complete}}
            {{^item_list_complete}}
                <p class="empty color-30">None</p>
            {{/item_list_complete}}
            </ul>
        </div>
    </div>
{{/model.plan.current}}
</div>
