<div class="bucket-edit" data-tpljs="index/bucket-edit">
    <nav class="breadcrumbs">
        <a href="#/{{team.id}}">Team</a>
        <a href="#/{{team.id}}/{{bucket.id}}">Bucket</a>
        <span>Edit</span>
    </nav>
    <h1>Edit Bucket</h1>
    <form id="bucket-edit" name="bucket_edit" method="POST" class="std ext" data-bucket_id="{{bucket.id}}">
        <div class="field">
            <input type="text" class="text required min-len-2" name="name" autocomplete="off" placeholder="Bucket Name" value="{{bucket.opts.name}}" />
        </div>
        <div class="field submit">
            <input type="submit" class="submit" value="Save" />
            <br/>
            <a class="cancel" href="#/{{team.id}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
</div>