<div class="bucket require-auth require-team">
    <nav>
        <a href="#/{{team.id}}/{{bucket.id}}/remove">Delete Bucket</a>
    </nav>
    <h1><i class="icon-flag-filled"></i> {{bucket.opts.name}}</h1>
</div>
