<div class="item-edit" data-tpljs="index/item-edit">
    <nav class="breadcrumbs">
        <a href="#/{{team.id}}">Team</a>
        <a href="#/{{team.id}}/{{bucket.id}}">Bucket</a>
        <a href="#/{{team.id}}/{{bucket.id}}/{{item.id}}" data-keybind="b escape">Item</a>
        <span>Edit</span>
    </nav>
    <h1>{{#item.status}}<i class="icon-{{icon}}"></i>{{/item.status}} {{item.opts.name}}</h1>
    <form id="item-edit" name="item_edit" method="POST" class="std" data-bucket_id="{{bucket_id}}" data-item_id="{{item.id}}">
        {{>index/_item-form}}
        <div class="field submit">
            <input type="submit" class="submit" value="Save Changes" />
            <a class="cancel" href="#/{{team.id}}/{{bucket.id}}/{{item.id}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
</div>
