<div class="item-new" data-tpljs="index/item-new">
    <nav class="breadcrumbs">
        <a href="#/{{team.id}}">Team</a>
        <a href="#/{{team.id}}/{{bucket.id}}">Bucket</a>
        <span>New Item</span>
    </nav>
    <h1>New Item in {{bucket.opts.name}}</h1>
    <form id="item-new" name="item_new" method="POST" class="std" data-bucket_id="{{bucket_id}}">
        {{>index/_item-form}}
        <div class="field submit">
            <input type="submit" class="submit" value="Create Item" />
            <a class="cancel" href="#/{{team.id}}/{{bucket.id}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
</div>