<div class="item">

    <nav>
        <a href="#{{item.url}}/remove" data-keybind="r">Remove</a>
        <a href="#{{item.url}}/edit" data-keybind="e">Edit</a>
    </nav>
    <nav class="breadcrumbs">
        <a href="#{{team.url}}">Team</a>
        <a href="#{{bucket.url}}" data-keybind="q escape">Bucket</a>
        <span>Item</span>
    </nav>
    
    <h1>{{#item.status}}<i class="icon-{{icon}}"></i>{{/item.status}} {{item.opts.name}}</h1>
    <section class="tags">
        <ul>
            <li class="milestone section">
                <a href="#{{bucket.url}}">
                    <div class="img"><i class="icon-flag-filled"></i></div>
                    <div class="name">{{bucket.opts.name}}</div>
                </a>
            </li>
            <li class="state section">
                <a>
                {{#item.status}}
                <!--
                    <i class="icon-down-open-1 nav"></i>
                -->
                    <div class="img"><i class="icon-{{icon}}"></i></div>
                    <div class="name">{{label}}</div>
                {{/item.status}}
                </a>
            </li>
            <li class="user section">
                <a>
                    <div class="img"><i class="icon-user-1"></i></div>
                    <div class="name">Kev</div>
                </a>
            </li>
            <li class="section">
                <a>
                    <div class="img"><i class="icon-tag-1"></i></div>
                    <div class="name">UI</div>
                </a>
            </li>
        </ul>
    </section>
    <section class="description" role="main">
        {{#nl2br}}{{#linkify}}{{item.opts.description}}{{/linkify}}{{/nl2br}}
    </section>
    <section class="comments">
        <h3><a><i class="icon-comment"></i> Comments</h3>
        <div class="comment hi-10" id="comments">
            <div class="author section">
                <div class="control section">
                    <a>
                        <div class="img"><i class="icon-pencil"></i></div>
                    </a>
                </div>
                <a>
                    <div class="img"><i class="icon-user-1"></i></div>
                    <div class="name">Kev</div>
                </a>
            </div>
            <div class="message">Sounds good.</div>
        </div>
        <form id="comment" method="POST" class="std">
            <h3>Reply</h3>
            <div class="field">
                <textarea class="text" name="message"></textarea>
            </div>
            <div class="field submit">
                <input type="submit" class="submit" value="Submit" />
            </div>
        </form>
    </section>
</div>
