<div class="team-edit">
    <nav class="breadcrumbs">
        <a href="#{{team.url}}" data-keybind="b escape">Team</a>
        <span>Settings</span>
    </nav>
    <h1><i class="icon-wrench"></i> Team Settings</h1>
    <form id="team-edit" name="team_edit" method="POST" class="std" data-team_id="{{team.id}}">
        <div class="field">
            <label for="team_name">Team Name</label>
            <input id="team_name" type="text" class="text required min-len-2" name="name" autocomplete="off" placeholder="Team Name" value="{{team.opts.name}}" />
        </div>
        <div class="field">
            <label for="team_theme">Theme</label>
            <select id="team_theme" name="theme" class="text">
            </select>
        </div>
        <div class="field submit">
            <input type="submit" class="submit" value="Save" />
            <a class="cancel" href="#{{team.url}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
</div>
