#dashboard { overflow: hidden; }

#dashboard .right { width: 16em; position: fixed; top: 0; right: 0; bottom: 0; }
#dashboard .main { position: fixed; left: 0; top: 0; right: 16em; bottom: 40%; }
#dashboard .chat { position: fixed; left: 0; bottom: 0; right: 16em; height: 40%; }
#dashboard .theme { display: none; }
#dashboard .audio { display: none; }

#dashboard.chat-collapsed .main { bottom: 2em; }
#dashboard.chat-collapsed .chat { height: 2em; }

#dashboard #loader { position: fixed; top: 1em; right: 17em; display: none; height: 2.1em; line-height: 2em; }
#dashboard #loader i { font-size: 2.09em; opacity: 0.3; padding-bottom: 10px; }
#dashboard #loader i:before { margin: 0; }
#dashboard.loading #loader { display: block; }

#dashboard .section { clear: both; }
#dashboard .section .img { height: 2em; width: 2em; float: left; line-height: 2em; text-align: center; font-weight: normal; }
#dashboard .section .bucket { position: relative; }
#dashboard .progress { position: absolute; bottom: 0; left: 0; right: 0; height: 2px; }
#dashboard .progress > div { height: 2px; }
#dashboard .section .name { height: 2em; margin-left: 2em; padding: 0 0.5em; line-height: 2em; overflow: hidden; position: relative; }
#dashboard .section i.nav { float: right; opacity: 0.5; line-height: 2em; width: 2em; text-align: center; display: none; }
#dashboard .section div.totals { float: right; opacity: 0.5; font-size: 0.7em; line-height: 2.9em; padding: 0 1em; text-align: center; }
#dashboard .section div.totals .sep { opacity: 0.5; }
#dashboard .section i.nav.on,
#dashboard .section:hover i.nav { display: block; }
#dashboard .section:hover div.totals { display: none; }
#dashboard .section > a { display: block; }

#dashboard .chat:before { content: ""; position: absolute; left: -2em; top: 0; right: 0; height: 200%; }
#dashboard .chat .inner { position: relative; height: 100%; width: 100%; }
#dashboard .chat .nav { float: left; width: 12em; position: absolute; top: 0; left: 0; bottom: 0; }
#dashboard .chat .nav ul.channels { position: absolute; left: 0; right: 0; top: 0; bottom: 2em; overflow: auto; padding: 0; margin: 0; }
#dashboard .chat .nav ul.channels li { font-size: 1em;  opacity: 0.5; }
#dashboard .chat .nav ul.channels li.active { opacity: 1; }
#dashboard .chat .nav ul.channels li a { display: block; line-height: 2em; padding: 0 0.4em; text-decoration: none; }
#dashboard .chat .nav .ctrl { height: 2em; position: absolute; bottom: 0; left: 0; right: 0; }
#dashboard .chat .nav .ctrl a.toggle { float: left; line-height: 2.3em; padding: 0 0.5em; font-size: 0.9em; text-decoration: none; }
#dashboard .chat a.emo { height: 2em; width: 2.2em; position: absolute; right: 2.2em; top: 0; bottom: 0;
    line-height: 2.1em; text-align: center; font-family: "teambo"; padding: 0; }

#dashboard .chat .area { position: absolute; left: 12em; top: 0; bottom: 0; right: 0; }
#dashboard .chat .area .history { position: absolute; top: 0; left: 0; right: 0; bottom: 2em; overflow-y: auto; }
#dashboard .chat .area .history .l { position: relative; font-size: 0.8em; display: table-row; }
#dashboard .chat .area .history .ts { width: 3em; text-align: center; display: table-cell; }
#dashboard .chat .area .history .n { padding: 0 0.4em; display: inline-block; margin-left: -0.3em; }
#dashboard .chat .area .history .t { margin-left: 3em; padding-left: 0.3em; display: table-cell; }
#dashboard .chat .area .history .d { font-size: 0.7em; text-align: center; line-height: 1.5em; }

#dashboard .chat .area .input { height: 2em; position: absolute; bottom: 0; left: 0; right: 0; height: 2em; }
#dashboard .chat .area .input form { padding-right: 2.2em; position: relative; padding: 0; }
#dashboard .chat .area .input input.text { height: 2em; width: 100%; padding: 0.3em 0.4em 0.1em; font-size: 1em; padding-right: 2.2em;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#dashboard .chat .area .input .submit { height: 2em; width: 2.2em; position: absolute; right: 0; top: 0; bottom: 0; line-height: 2em; text-align: center; font-family: "teambo"; padding: 0; }
#dashboard .chat .area .toggle { position: absolute; top: 0; right: 6px; width: 3em; height: 3em; text-align: center; line-height: 3em; opacity: 0; }
#dashboard .chat .area .toggle:hover { opacity: 1; }

#dashboard .chat audio { display: none; }
#dashboard .chat input.text::-webkit-input-placeholder { font-family: "teambo"; font-size: 1.5em; line-height: 0.85em; }
#dashboard .chat input.text:-moz-placeholder { font-family: "teambo"; font-size: 1.5em; line-height: 0.9em; }
#dashboard .chat input.text::-moz-placeholder { font-family: "teambo"; font-size: 1.5em; line-height: 0.9em; }
#dashboard .chat input.text:-ms-input-placeholder { font-family: "teambo"; font-size: 1.5em; line-height: 0.9em; }

#dashboard .chat .msg-alert { position: absolute; bottom: 2.55em; right: 6px; font-size: 0.8em; line-height: 3em; padding: 0 1em 0 0.5em; display: none; }

#dashboard.chat-collapsed .chat .area .toggle { display: none; }

#dashboard .right ul.items { font-size: 0.8em; margin: 0; padding: 0.6em 0; }
#dashboard .right ul.items li { list-style: none; padding: 0; line-height: 1.1em; }
#dashboard .right ul.items li i { position: absolute; top: 0.25em; left: 0.4em; }
#dashboard .right ul.items li a { display: block; padding: 0.25em 0.6em 0.2em 2.0em; position: relative; }
#dashboard .right ul.items li.item-complete { display: none; }

#dashboard .right .account { height: 2em; }
#dashboard .right .account a { display: block; }
#dashboard .right .account a:hover .icon-cog { opacity: 0.8; }

#dashboard .right .workload { overflow-y: auto; position: absolute; top: 2em; left: 0; right: 0; bottom: 0; }
#dashboard .right .workload i.nav { opacity: 0.2; }

#dashboard .main div.left { float: left; width: 12em; height: 100%; position: relative; overflow: hidden; }
#dashboard .main .area { margin-left: 12em; height: 100%; position: relative; overflow-y: scroll; padding: 0; }
#dashboard .main .area .content { padding: 1em; }

#dashboard .main h1 { margin-bottom: 0.5em; position: relative; padding-left: 1.65em; clear: both; }
#dashboard .main h1 i { position: absolute; left: 0; }

#dashboard .main .item p { margin: 0; }
#dashboard .main section { }
#dashboard .main section.description { padding: 0.8em 1em; word-break: break-word; }
#dashboard .main section.tags { padding: 0; }
#dashboard .main section.tags ul { margin: 0; padding: 0; }
#dashboard .main section.tags ul li { list-style: none; margin: 0; padding: 0; }
#dashboard .main section.tags ul li > a { text-decoration: none; }
#dashboard .main section.tags ul li i.nav { background: none; }
#dashboard .main section.comments { clear: both; background: none; padding: 0; }
#dashboard .main section.comments h2 { margin: 0 0 0.5em; }
#dashboard .main section.comments .comment { margin: 0 0 1em; }
#dashboard .main section.comments .message { padding: 1em; }
#dashboard .main section.comments .author {  }
#dashboard .main section.comments .author .name {  }
#dashboard .main section.comments span.date { display: inline-block; padding-right: 0.3em; font-size: 0.9em; opacity: 0.7; float: right; }
#dashboard .main section.comments .comment .control { display: none; float: right; }
#dashboard .main section.comments .comment .control a { float: left; }
#dashboard .main section.comments .comment:hover .control { display: block; }
#dashboard .main section.comments form .field { padding: 0.5em 0 0; }
#dashboard .main section.comments form textarea.text { border: none; width: 100%; padding: 0.5em;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#dashboard .comment-edit form .section { margin: -2em 0 1em; }
#dashboard .comment-edit form .section span.date { display: block; padding-right: 0.3em; font-size: 0.9em; opacity: 0.7; float: right; min-width: 10em; text-align: right; }

#dashboard .main section.tags .child { font-size: 0.9em; }
#dashboard .main section.tags .child i { opacity: 0.3; }
#dashboard .main section.tags .child .img { background: none; }
#dashboard .main section.tags .child .name { margin: 0; padding: 0; }

#dashboard .main .contacts { position: absolute; bottom: 0; left: 0; width: 12em; top: 2em; overflow-y: auto; }
#dashboard .main .contacts a { clear: both; font-size: 0.8em; }
#dashboard .main .contacts a .img { background: none; }
#dashboard .main .contacts a .icon-phone-1 { float: right; width: 2em; height: 2em; line-height: 2em; text-align: center; display: none; opacity: 0.5; }
#dashboard .main .contacts a:hover .icon-phone-1 { display: none; }
#dashboard .main .contacts a .icon-phone-1:hover { opacity: 1; }
#dashboard .main .contacts a.offline { opacity: 0.5; }
#dashboard .main .contacts a.offline:hover { opacity: 1; }

#dashboard .main .nav #status { position: absolute; bottom: 0; width: 100%; text-align: center; line-height: 2em; text-transform: uppercase; }
#dashboard .main .nav #status .outbox { float: left; height: 2em; padding: 0 0.5em 0 0.3em; display: block; }
#dashboard .main .nav #status .outbox span { font-size: 0.8em; }
#dashboard .main .nav #status .outbox i { margin-right: 0.2em; }

#dashboard .main .team { }
#dashboard .main .team a { display: block; }
#dashboard .main .team a:hover .icon-down-open-1 { opacity: 0.8; background: none; }

#dashboard .main p.empty { padding: 3em 0; text-align: center; }

#dashboard .main ul.buckets li { list-style: none; }
#dashboard .main ul.buckets li i { float: left; }
#dashboard .main ul.buckets li span.name { margin-left: 1.7em; display: block; }
#dashboard .main ul.buckets li > a { display: block; padding: 0.5em; text-decoration: none; font-size: 1.2em; }
#dashboard .main ul.buckets li .info { padding: 0.25em 0.5em; font-size: 0.75em; opacity: 0.7; float: right; }
#dashboard .main ul.items { padding: 0; }
#dashboard .main ul.items li { list-style: none; }
#dashboard .main ul.items li i { float: left; }
#dashboard .main ul.items li span.name { margin-left: 1.7em; display: block; }
#dashboard .main ul.items li a { display: block; padding: 0.5em; text-decoration: none; }

#dashboard .main ul.buckets ul.items { padding: 0.5em; font-size: 0.8em; }
#dashboard .main ul.items.complete { opacity: 0.7; }
#dashboard .main ul.buckets ul.items li span.name { margin-left: 1.6em; }
#dashboard .main ul.buckets ul.items li a { padding: 0.3em 0.2em; }
#dashboard .main ul.items i.plan-icon { float: right; margin-left: 0.1em; opacity: 0.5; }
#dashboard .main ul.items i.member-icon { float: right; margin-left: 0.1em; opacity: 1; }
#dashboard .main ul.buckets { padding: 0; }
#dashboard .main ul.buckets > li { margin-bottom: 1em; padding: 0; }
#dashboard .main ul.buckets > li > a { position: relative; }
#dashboard .main ul.buckets > li > a .name { font-weight: 500; }
#dashboard .main ul.buckets ul.items li.status-complete a { }

#dashboard .main .bucket-view p.plan { padding: 0.8em 1em 0; margin-top: 0; font-size: 0.8em; }
#dashboard .main .bucket-view span.plan { float: right; font-size: 0.8em; line-height: 1.7em; padding-right: 0.4em; }
#dashboard .main .bucket-view span.plan i { margin-top: -0.1em; margin-right: 0.2em; }
#dashboard .main .bucket-view p.description { padding: 0.3em 0.4em 0.2em; margin-top: 0; font-size: 0.8em; max-height: 4.9em; overflow: hidden; clear: both; word-break: break-word; }
#dashboard .main .bucket-view ul.items li { margin-bottom: 0.5em;  }
#dashboard .main .bucket-view ul.items.complete li { margin-bottom: 0; }

#dashboard .main .dash ul.buckets ul.items li { list-style: none; }
#dashboard .main nav { float: right; margin: -0.5em -0.5em 0 0; }
#dashboard .main nav a { float: left; padding: 0 0.75em; line-height: 2em; }
#dashboard .main nav .name { display: none; }
#dashboard .main nav.breadcrumbs { float: left; margin: -1em 0 1em -1em; height: 2em; }
#dashboard .main nav.breadcrumbs a,
#dashboard .main nav.breadcrumbs span { float: none; display: inline-block; padding: 0 1em; line-height: 2em; font-size: 1.0em; float: left; }

#dashboard .main .wiki-index ul li { list-style: none; }
#dashboard .main .wiki-index ul.children { padding: 0.2em 1em; }
#dashboard .main .wiki section.description { font-size: 0.9em; }

#dashboard .left .section { font-size: 1em; }
#dashboard .left a.nav-section { font-weight: 500; }
#dashboard .left .scrollable { overflow-y: auto; position: absolute; top: 2em; left: 0; right: 0; bottom: 2em; }

#dashboard .side .subsection { font-size: 0.9em; }
#dashboard .side .subsection i { opacity: 0.3; }
#dashboard .side .subsection .img { background: none; }
#dashboard .side .subsection .name { margin: 0; padding: 0; }
#dashboard .side .active i { opacity: 1; }
#dashboard .side .bucket .icon-folder-open { display: none; }
#dashboard .side .bucket.active .icon-folder { display: none; }
#dashboard .side .bucket.active .icon-folder-open { display: inline-block; }
#dashboard .side .member.active i { opacity: 1; }

#dashboard .main section.history { background: none; }
#dashboard .main section.history h2 { margin-bottom: 0.5em; }
#dashboard .main ul.history { padding: 0; }
#dashboard .main ul.history li { list-style: none; margin-bottom: 0.5em; word-break: break-word; }
#dashboard .main .history span.date { display: inline-block; padding-right: 0.3em; font-size: 0.9em; opacity: 0.7; float: right; }
#dashboard .main ul.history li div.diff { font-size: 0.9em; padding: 0.5em; }
#dashboard .main ul.history p.toggle-target.open { padding: 0.4em 0.8em 0.5em; margin: 0.3em 0; }

#dashboard .main .filter-status-incomplete .status-complete { display: none; }
#dashboard .main form.filter select { margin-right: 0.5em; }
#dashboard .main form.filter.default-options a.clear { display: none; }

ul.member-details blockquote { word-break: break-all; word-wrap: break-word; font-size: 0.8em; }

ul.items i.icon-check-empty { opacity: 0.5; }

form.std.remove p { text-align: center; }

@media (max-width: 600px) {
    #dashboard .right { width: 2em; }
    #dashboard .main { right: 2em; }
    #dashboard .chat { right: 2em; }
    #dashboard .right .section { font-size: 1em; }
    #dashboard .right .name { display: none; }
    #dashboard .right .subsection { display: none; }
    #dashboard .right .totals { display: none; }
    #dashboard form.filter select { width: 100%; }
    #dashboard form.filter a.clear { width: 100%; display: block; text-align: center; padding: 0.5em 0 0; }
}
/* < 900 */
@media (max-width: 900px) {
    #dashboard .main div.left { width: 2em; }
    #dashboard .main .area { margin-left: 2em; }
    #dashboard .main .left .scrollable { top: 2em; }
    #dashboard .main div.left .section { font-size: 1em; }
    #dashboard .main div.left .name { display: none; }
    #dashboard .main div.left i.nav { display: none; }
    #dashboard .main div.left .subsection { display: none; }
    #dashboard .chat .nav { width: 2em; }
    #dashboard .chat .nav ul.channels li a { display: block; padding: 0; width: 2em; text-align: center; }
    #dashboard .chat .nav ul.channels .name { display: none; }
    #dashboard .chat .area { left: 2em; }
}

@media print {
    #dashboard { overflow: visible; }
    #dashboard .right { display: none; }
    #dashboard .main { position: relative; left: 0; top: 0; right: auto; bottom: auto; width: 100%; }
    #dashboard .main .left { display: none; }
    #dashboard .main nav { display: none; }
    #dashboard .chat { display: none; }
    #dashboard .main h1 { margin: 1em 0; }
}
