
form.ext.std { margin: 0 auto; max-width: 30em; background: rgba(0,0,0,0.2); padding: 2em 0 1em; box-shadow: 0 0 1em rgba(0,0,0,0.1); }
form.ext.std h3 { text-align: left; max-width: 20em; font-size: 1em; margin: 0 auto 0.5em; font-weight: bold; }
form.ext.std .field { text-align: center; }
form.ext.std .field.submit { text-align: center; }
form.ext.std .field label.chk { width: 25em; box-sizing: border-box; max-width: 100%; text-align: left; margin: 0 auto; padding: 0; font-size: 0.8em; }
form.ext.std .field label.chk input.chk { transform: scale(1.5); }
form.ext.std .field label.chk input.chk:active { transform: scale(1.5); background: rgba(0,0,0,0.15); }
form.ext.std .field span.alert { color: #a00; font-weight: bold; }
form.ext.std input.error,
form.ext.std input.error:focus { outline: 4px solid rgba(255,0,0,0.5); }

form.ext.std.stealth { padding: 0 0 0.5em; box-shadow: none; display: none; }

.external .subtext { max-width: 30em; margin: 0 auto; padding: 0.5em 0; text-align: center; color: rgba(0,0,0,0.5); background: rgba(255,255,255,0.75); }
.external .subtext p { font-size: 0.9em; }
.external.account .nav { max-width: 30em; margin: 0 auto; padding: 1em; text-align: center; }
.external.account .nav p { margin: 0 2em; line-height: 2em; }
.external.account .nav p span { font-size: 0.9em; }
.external.account .nav a.nav-icon { width: 2em; line-height: 2em; background: rgba(0,0,0,0.1); }
.external.account .nav a.nav-icon:hover,
.external.account .nav a.nav-icon:focus { background: rgba(0,0,0,0.2); }
.external.account .nav a.logout { float: right; }
.external.account .nav a.settings { float: left; color: rgba(0,0,0,0.7); }
.external.account a.team-new { display: none; }
.external.account a.team-new:focus { text-decoration: underline; }
.external .verification { padding-top: 1em; }
.external .verification p.email { margin: 0 1em 1em; }
.external .verification p.warning { margin: 0 0 1em; }
.external .verification p.top { margin: 0 0 1em; text-align: center; }
.external .verification a.clear-invite { padding: 0.5em 0; font-size: 0.8em; }
.external p.email { margin: 1.3em 1.3em 0; font-size: 1.1em; background: rgba(255,255,255,0.5); line-height: 2em; }
.external p.team_name { margin: 1em 0 0; font-size: 1.1em; background: rgba(255,255,255,0.5); line-height: 2em; }
.external p.warning { padding: 0em 1.5em; text-align: left; }
.external p.ex { padding: 1em 1.5em 0; text-align: left; font-size: 0.8em; }
.external p.exc { padding: 1em 1.5em 0; font-size: 0.8em; }
.external form .error .ex { margin: 1em 0; }
.external .main { max-width: 30em; margin: 0 auto; position: relative; /* padding: 0 1em; */  background: rgba(255,255,255,1);  }
.external .main.no-bg { background: none; }
.external .main.half-bg { background: rgba(255,255,255,0.75); padding: 0 0 0.1em; }
.external ul { padding: 1.1em 1em 1px; margin: 0 0 1em; background: rgba(0,0,0,0.1); }
.external ul.teams { position: relative; padding: 0 1em; background: none; }
.external ul.teams li { padding: 1em; list-style: none; margin-bottom: 1em; }
.external ul.teams li.team { padding: 0; }
.external ul.teams li.placeholder { line-height: 2em; }
.external ul.teams li.team a { padding: 0; line-height: 2em; height: 2em; overflow: hidden; display: block; background: rgba(255,255,255,0.1); color: rgba(255,255,255,0.8); font-size: 1.24em; }
.external ul.teams li.team a:focus { outline: 4px solid rgba(0,0,0,0.2); }
.external ul.teams li.team a .i-wrap { float: left; margin-right: 0.5em; }
.external ul.teams li.team a i { width: 2em; float: left; text-align: center; padding-right: 0.1em; }
.external ul.teams li.team a i.admin { width: 2em; float: right; padding-right: 0; margin: 0; background: none !important; }
.external ul.teams li.team a div.error { float: right; padding: 0 1em; margin: 0; font-size: 0.75em; }
.external ul.teams li.team a div.summary { float: right; padding: 0; margin: 0; height: 2em; width: 2em; }
.external ul.teams li.team a div.summary i { background: none; padding: 0 0.25em; width: 1.5em; display: block; height: 1.25em; line-height: 1.25em; }
.external ul.teams li.team a div.summary .count { font-size: 0.6em; display: block; line-height: 0.9em; text-align: center; opacity: 0.7; }
.external ul.teams li.team a .pending { float: right; margin: 0 1em; opacity: 0.7; font-size: 0.8em; line-height: 2.5em; }
.external ul.teams li.team a .failed { opacity: 1; }

.external ul.teams li.welcome h3 { text-align: center; color: #fff; font-size: 1em; background: #040; margin: -1.1em -2em 2em; padding: 1.5em 0; }
.external ul.teams li.welcome p { font-size: 0.9em; }
.external a.bot-nav { color: #000; font-size: 1em; display: inline-block; padding: 0.5em; }
.external a.bot-nav i { font-size: 0.8em; }

.external p.error { background: #900; color: #fff; line-height: 4em; padding: 0; margin: -2.5em -0.5em 1.5em; font-size: 1em; }
.external form.std .error .ex { margin: 0 0 1em; padding: 0 1.5em; opacity: 1; line-height: 1.5em; font-size: 0.8em; }

.external a.team-new { display: block; text-align: center; margin-bottom: 1em; }
.external form .field input:focus { outline: 4px solid rgba(0,0,0,0.15); }
.external form.ext.std { position: relative; }
.external #status.offline { position: absolute; left: 0; top: -1.725em; padding: 0.2em 0.6em 0; line-height: 1.6em;
    background: rgba(255,255,255,0.75); text-transform: uppercase; font-size: 0.8em; }
.external #status.online { display: none; }

.external form.std #pass-meter { width: 20em; margin: 0 auto; height: 0.5em; background: rgba(0,0,0,0.1); }
.external form.std #pass-meter-bar { height: 0.5em; }

.external .main .link { text-decoration: underline; }

.external .main .tab-nav { position: absolute; top: 0; left: 0; right: 0; background: rgba(0,0,0,0.1); z-index: 1000; }
.external .main .tab-nav a { float: left; line-height: 2em; font-size: 0.9em; position: relative; cursor: pointer; padding: 0 0.6em; }
.external .main .tab-nav a.active { background: rgba(255,255,255,0.3); }

.keygen { padding: 2em 0 3em;  }
.keygen h3 { text-align: center; border: none; margin: 0; }
.keygen p { text-align: center; margin: 0; }
.keygen .progressbar { width: 15.4em; height: 0.5em; background: #ccc; margin: 1em auto 0; }
.keygen .progressbar .progressbar-inner { width: 0; height: 0.5em; background: #333; }
.keygen .crypt { text-align: center; padding: 0.4em 0; font-size: 1.5em; font-weight: bold; }

#page > .about { padding: 4em 0 8em; }
.about #shadow { position: fixed; top: 0; right: 0; left: 0; background: #fff; padding: 0 1em; z-index: 1098; max-width: 100%; box-shadow: 0 0 1.5em rgba(0,0,0,0.1); height: 4em; }
.about #shadow-mask { position: absolute; top: 0; right: 0; left: 0; background: #fff; padding: 0 1em; z-index: 1099; max-width: 100%; height: 5em; }
.about #return { position: fixed; top: 0; right: 0; left: 0; background: #fff; padding: 0 1em; z-index: 1100; max-width: 100%; height: 4em; }
.about #return nav { position: fixed; right: 1em; top: 1em; }
.about #return nav a { width: 2em; color: #fff; float: left; height: 2em; line-height: 2em; border-radius: 0.2em; opacity: 0.4; }
.about #return nav .github { background: #000; }
.about ul { text-align: left; padding: 0.7em 1em; font-size: 0.9em; background: rgba(0,0,0,0.05); list-style: none; }
.about ul li { text-align: left; padding: 0.4em 0; font-size: 1em; }
.about ul li i.icon-angle-right { color: rgba(0,0,0,0.2); }
.about h3 { color: rgba(0,0,0,0.6); font-size: 1.1em; margin: 0 0 1em; }
.about section { max-width: 30em; margin: 0 auto; padding: 0.5em 0; text-align: left; color: rgba(0,0,0,0.6); padding: 0 1em; }
.about section p { font-size: 0.8em; line-height: 1.5em; margin: 0 0 1em; }
.about section #dashboard { position: relative; height: 16em; font-size: 0.9em; margin: 0 -1em 1em; }
.about section #dashboard .up4c3b.frozen { width: 32% }
.about section #dashboard .up4c3.frozen { width: 64%; }
.about section #dashboard.item { overflow: visible; height: 16em; }
.about section #dashboard.plan { font-size: 0.8em; height: 30em; }
.about section #dashboard p { line-height: 1.2em; }
.about section #dashboard ul li { padding: 0; }
.about section #dashboard .main { position: absolute; left: 0; right: 0; margin: 0; padding: 0 1em; bottom: 0; max-width: 100%; }
.about section #dashboard .main section { color: rgba(255,255,255,0.7); }
.about section #dashboard .main nav { margin-top: 0; }
.about section #dashboard .main h1 { font-size: 1.4em; }
.about section #dashboard .main span.name { line-height: 1.18em; }

.about .github-banner { position: fixed; top: 0; right: 0; border: 0; display: block; z-index: 1200; }

