<div class="bucket">
    <nav class="breadcrumbs">
        <a href="#{{team.url}}" class="active" data-keybind="q escape">Team</a>
        <span class="active">Tags</span>
    </nav>
    <h1><i class="icon-tags-1"></i> Tags</h1>
</div>
