<section class="tags">
    <ul>
        <li class="state section autoselect hi-05" data-opt="status">
            {{#status}}
            <a href="#{{url}}/edit" class="trigger">
                <i class="icon-down-open-1 nav color-hi-40"></i>
                <div class="img"><i class="icon-{{icon}}"></i></div>
                <div class="name">{{label}}</div>
            </a>
            {{/status}}
            {{^status}}
            <a href="#{{url}}/edit" class="trigger">
                <i class="icon-down-open-1 nav color-hi-40"></i>
                <div class="img"><i class="icon-check-empty"></i></div>
                <div class="name">Ready</div>
            </a>
            {{/status}}
            <div class="options">
                {{#model.item.statuses}}
                <a href="#{{name}}" data-value="{{key}}">
                    <div class="img {{^active}}color-30{{/active}}"><i class="icon-{{icon}}"></i></div>
                    <div class="name">{{label}}</div>
                </a>
                {{/model.item.statuses}}
            </div>
        </li>
        <li class="state section autoselect hi-05" data-opt="folder_id">
            {{#folder}}
            <a href="#{{url}}/edit" class="trigger {{#fake}}color-30{{/fake}}">
                <i class="icon-down-open-1 nav color-hi-40"></i>
                <div class="img"><i class="icon-{{icon}}"></i></div>
                <div class="name">{{opts.name}}</div>
            </a>
            {{/folder}}
            {{^folder}}
            <a href="#{{url}}/edit" class="trigger color-30">
                <i class="icon-down-open-1 nav color-hi-40"></i>
                <div class="img"><i class="icon-folder"></i></div>
                <div class="name">(none)</div>
            </a>
            {{/folder}}
            <div class="options">
                {{#model.folder.all}}
                <a href="#{{url}}" data-value="{{id}}">
                    <div class="img {{^active}}color-30{{/active}}"><i class="icon-{{icon}}"></i></div>
                    <div class="name">{{opts.name}}</div>
                </a>
                {{/model.folder.all}}
                <a href="#" data-value="">
                    <div class="img {{#folder}}color-30{{/folder}}"><i class="icon-folder"></i></div>
                    <div class="name">(none)</div>
                </a>
            </div>
        </li>
        <li class="plan section autoselect hi-05" data-opt="plan_id">
            {{#plan}}
            <a href="#{{url}}" class="trigger">
                <i class="icon-down-open-1 nav color-hi-40"></i>
                <div class="img"><i class="icon-{{icon}}"></i></div>
                <div class="name">{{opts.name}}</div>
            </a>
            {{/plan}}
            {{^plan}}
            <a href="#{{url}}" class="trigger color-30">
                <i class="icon-down-open-1 nav"></i>
                <div class="img"><i class="icon-flag-1"></i></div>
                <div class="name">(none)</div>
            </a>
            {{/plan}}
            <div class="options">
                {{#model.plan.all}}
                <a href="#{{url}}" data-value="{{id}}">
                    <div class="img {{^active}}color-30{{/active}}"><i class="icon-{{icon}}"></i></div>
                    <div class="name">{{opts.name}}</div>
                </a>
                {{/model.plan.all}}
                <a href="#" data-value="">
                    <div class="img {{#plan}}color-30{{/plan}}"><i class="icon-flag-1"></i></div>
                    <div class="name">(none)</div>
                </a>
            </div>
        </li>
        <li class="member section autoselect hi-05" data-opt="member_id">
            {{#member}}
            <a href="#{{url}}" class="trigger">
                <i class="icon-down-open-1 nav color-hi-40"></i>
                <div class="img"><i class="{{icon}}"></i></div>
                <div class="name">{{opts.name}}</div>
            </a>
            {{/member}}
            {{^member}}
            <a href="#{{url}}" class="trigger color-30">
                <i class="icon-down-open-1 nav"></i>
                <div class="img"><i class="icon-user-1"></i></div>
                <div class="name">(unassigned)</div>
            </a>
            {{/member}}
            <div class="options bg">
                {{#model.member.all}}
                <a href="#{{url}}" data-value="{{id}}">
                    <div class="img {{^active}}color-30{{/active}}"><i class="{{icon}}"></i></div>
                    <div class="name">{{opts.name}}</div>
                </a>
                {{/model.member.all}}
                <a href="#" data-value="">
                    <div class="img {{#member}}color-30{{/member}}"><i class="icon-user-1"></i></div>
                    <div class="name">(unassigned)</div>
                </a>
            </div>
        </li>
        {{#id}}
        <li class="section id">
            <span>
                <div class="img"><i class="icon-pin"></i></div>
                <div class="name color-50">{{id}}</div>
            </span>
        </li>
        {{/id}}
        {{^id}}
        <li class="section id">
            <span>
                <div class="img color-30"><i class="icon-pin"></i></div>
                <div class="name color-30">--------</div>
            </span>
        </li>
        {{/id}}
    </ul>
</section>
