<div class="item-edit" require-model="item">
{{#model.item.current}}
    <nav class="breadcrumbs">
        {{#model.plan.current}}
        <a href="#{{url}}">Plan</a>
        {{/model.plan.current}}
        {{^model.plan.current}}
        <a href="#{{#folder}}{{url}}{{/folder}}">Folder</a>
        {{/model.plan.current}}
        <a href="#{{url}}" data-keybind="q escape `">Item</a>
        <span>Edit</span>
    </nav>
    <nav>
        <a href="#{{url}}/remove" data-keybind="r">Remove</a>
    </nav>
    <h1><i class="icon-archive"></i> Edit Item</h1>
    <a id="skipnav" class="skip-nav" href="#{{url}}"></a>
    <form id="item-edit" name="item_edit" method="POST" class="std item-form" data-item_id="{{id}}">
        <div class="up1c">
            <input id="item_name"type="text" class="text large full required min-len-2" name="name" autocomplete="off" placeholder="Item Name" value="{{opts.name}}" />
        </div>
        <div class="up4c3">
            <textarea id="item_description" class="text med-tall full" name="description">{{opts.description}}</textarea>
        </div>
        <div class="up4c up4c3b" id="item-opts">
            {{>team/item/_sidenav}}
        </div>
        <div class="field submit">
            <input type="submit" class="submit" value="Save Changes" />
            <a class="cancel" href="#{{url}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
{{/model.item.current}}
</div>
