<div class="item-new">
    <nav class="breadcrumbs">
        {{^model.plan.current}}
        {{^model.folder.current}}
        <a href="#{{team.url}}/folders" data-keybind="Q" data-keybind-alt="escape" class="hi-20" title="Items"><i class="icon-archive"></i></a>
        {{/model.folder.current}}
        {{/model.plan.current}}
        {{#model.plan.current}}
        <a href="#{{team.url}}/plan" data-keybind="P" class="hi-20" title="Planning"><i class="icon-calendar-check-o"></i></a>
        <a href="#{{url}}" data-keybind="Q" data-keybind-alt="escape" title="Plan"><i class="icon-{{icon}}"></i></a>
        {{/model.plan.current}}
        {{#model.folder.current}}
        <a href="#{{team.url}}/folders" data-keybind="I" class="hi-20" title="Items"><i class="icon-archive"></i></a>
        <a href="#{{url}}" data-keybind="Q" data-keybind-alt="escape" title="Folder"><i class="icon-{{icon}}"></i></a>
        {{/model.folder.current}}
        <span title="Create Item"><i class="icon-plus-1"></i></span>
    </nav>
    <h1><i class="icon-plus-1"></i> Create Item</h1>
    <a id="skipnav" class="skip-nav" href="#{{url}}"></a>
    <div class="up1c">
        <form id="item-new" name="item_new" method="POST" class="std item-form"
            data-plan_id="{{model.plan.current.id}}" data-folder_id="{{model.folder.current.id}}">
            <div class="up1c">
                <input id="item_name"type="text" class="text large full required min-len-2" name="name" autocomplete="off" placeholder="Item Name"/>
            </div>
            <div class="up4c3">
                <textarea id="item_description" class="text large med-tall full" name="description" placeholder="Description"></textarea>
            </div>
            <div class="up4c up4c3b" id="item-opts">
                {{>team/item/_sidenav}}
            </div>
            <div class="up1c">
                <div class="field">
                    <input type="submit" class="submit" value="Create Item" />
                    {{#model.plan.current}}
                    <a class="cancel" href="#{{url}}">cancel</a>
                    {{/model.plan.current}}
                    {{#model.folder.current}}
                    <a class="cancel" href="#{{url}}">cancel</a>
                    {{/model.folder.current}}
                    {{^model.folder.current}}
                    {{^model.plan.current}}
                    <a class="cancel" href="#{{team.url}}">cancel</a>
                    {{/model.plan.current}}
                    {{/model.folder.current}}
                </div>
                <div class="error"></div>
            </div>
        </form>
    </div>
</div>
