<div class="item-remove" require-model="bucket item">
{{#item.current}}
    <nav class="breadcrumbs">
        <a href="#{{team.url}}">Team</a>
        <a href="#{{#bucket}}{{url}}{{/bucket}}">Bucket</a>
        <a href="#{{url}}" data-keybind="q escape `">Item</a>
        <span>Remove</span>
    </nav>
    <h1>{{#status}}<i class="icon-{{icon}}"></i>{{/status}} {{opts.name}}</h1>
    <form id="item-remove" name="item_remove" method="POST" class="std ext remove">
        <input type="hidden" class="hidden" name="item_id" value="{{id}}"/>
        <input type="hidden" class="hidden" name="bucket_id" value="{{#bucket}}{{id}}{{/bucket}}"/>
        <p>Are you sure you want to remove this item?</p>
        <div class="field submit">
            <input type="submit" class="submit" id="delete_submit" value="Remove Item" />
            <br/>
            <a class="cancel" href="#{{url}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
{{/item.current}}
</div>
