<div class="item-view" require-model="item">
{{#model.item.current}}
    <nav class="breadcrumbs">
        {{#model.plan.current}}
        <a href="#{{team.url}}/plan" data-keybind="P" class="hi-20" title="Planning"><i class="icon-calendar-check-o"></i></a>
        <a href="#{{url}}" data-keybind="Q" data-keybind-alt="escape" title="Plan"><i class="icon-{{icon}}"></i></a>
        {{/model.plan.current}}
        {{^model.plan.current}}
        <a href="#{{team.url}}/folders" data-keybind="I" class="hi-20" title="Items"><i class="icon-archive"></i></a>
        {{#folder}}<a href="#{{url}}" data-keybind="Q" data-keybind-alt="escape" title="Folder"><i class="icon-{{icon}}"></i></a>{{/folder}}
        {{/model.plan.current}}
        <span title="Item"><i class="icon-{{icon}}"></i></span>
    </nav>
    <nav>
        <a href="#{{url}}/edit" data-keybind="E" title="Edit Item"><i class="icon-pencil"></i></a>
    </nav>
    <h1>{{#status}}<i class="icon-{{icon}}"></i>{{/status}} {{opts.name}}</h1>
    <div class="up4c3 {{^opts.description}}c-empty{{/opts.description}}">
    {{#opts.description}}
        <section class="description color-bg" role="main">
            {{#nl2br}}{{#linkify}}{{opts.description}}{{/linkify}}{{/nl2br}}
        </section>
    {{/opts.description}}
    </div>
    <a id="skipnav" class="skip-nav" href="#{{url}}"></a>
    <div class="up4c up4c3b">
        {{>team/item/_sidenav}}
    </div>
    {{>team/comment/_section}}
    {{>team/history/_section}}
{{/model.item.current}}
</div>
