<div class="item" require-model="bucket item">
{{#model.item.current}}
    <nav>
        <a href="#{{url}}/remove" data-keybind="r">Remove</a>
        <a href="#{{url}}/edit" data-keybind="e">Edit</a>
    </nav>
    <nav class="breadcrumbs">
        <a href="#{{team.url}}">Team</a>
        <a href="#{{#bucket}}{{url}}{{/bucket}}" data-keybind="q escape `">Bucket</a>
        <span>Item</span>
    </nav>
    
    <h1>{{#status}}<i class="icon-{{icon}}"></i>{{/status}} {{opts.name}}</h1>
    <div class="up4c3">
    {{#opts.description}}
        <section class="description color-bg" role="main">
            {{#nl2br}}{{#linkify}}{{opts.description}}{{/linkify}}{{/nl2br}}
        </section>
    {{/opts.description}}
    </div>
    <div class="up4c up4c3b">
        <section class="tags">
            <ul>
                {{#status}}
                <li class="state section autoselect" data-opt="status">
                    <a href="#{{url}}/edit" class="trigger">
                        <i class="icon-down-open-1 nav color-hi-40"></i>
                        <div class="img"><i class="icon-{{icon}}"></i></div>
                        <div class="name">{{label}}</div>
                    </a>
                    <div class="options">
                        {{#model.item.statuses}}
                        <a data-value="{{key}}">
                            <div class="img"><i class="icon-{{icon}}"></i></div>
                            <div class="name">{{label}}</div>
                        </a>
                        {{/model.item.statuses}}
                    </div>
                </li>
                {{/status}}
                <li class="state section autoselect" data-opt="bucket_id">
                    {{#bucket}}
                    <a href="#{{url}}/edit" class="trigger">
                        <i class="icon-down-open-1 nav color-hi-40"></i>
                        <div class="img"><i class="icon-{{icon}}"></i></div>
                        <div class="name">{{opts.name}}</div>
                    </a>
                    {{/bucket}}
                    {{^bucket}}
                    <a href="#{{url}}" class="trigger">
                        <i class="icon-down-open-1 nav color-hi-40"></i>
                        <div class="img"><i class="icon-folder"></i></div>
                        <div class="name">(none)</div>
                    </a>
                    {{/bucket}}
                    <div class="options">
                        {{#model.bucket.all}}
                        <a data-value="{{id}}">
                            <div class="img {{^active}}color-30{{/active}}"><i class="icon-{{icon}}"></i></div>
                            <div class="name">{{opts.name}}</div>
                        </a>
                        {{/model.bucket.all}}
                        <a data-value="">
                            <div class="img {{#bucket}}color-30{{/bucket}}"><i class="icon-folder"></i></div>
                            <div class="name">(none)</div>
                        </a>
                    </div>
                </li>
                <li class="user section autoselect" data-opt="plan_id">
                    {{#plan}}
                    <a href="#{{url}}" class="trigger">
                        <i class="icon-down-open-1 nav color-hi-40"></i>
                        <div class="img"><i class="icon-{{icon}}"></i></div>
                        <div class="name">{{opts.name}}</div>
                    </a>
                    {{/plan}}
                    {{^plan}}
                    <a href="#{{url}}" class="trigger">
                        <i class="icon-down-open-1 nav"></i>
                        <div class="img"><i class="icon-flag-1"></i></div>
                        <div class="name">(none)</div>
                    </a>
                    {{/plan}}
                    <div class="options">
                        {{#model.plan.all}}
                        <a data-value="{{id}}">
                            <div class="img"><i class="icon-{{icon}}"></i></div>
                            <div class="name">{{opts.name}}</div>
                        </a>
                        {{/model.plan.all}}
                        <a data-value="">
                            <div class="img {{#plan}}color-30{{/plan}}"><i class="icon-flag-1"></i></div>
                            <div class="name">(none)</div>
                        </a>
                    </div>
                </li>
                <li class="user section">
                    <a>
                        <div class="img"><i class="icon-user-1"></i></div>
                        <div class="name">Kev</div>
                    </a>
                </li>
                <li class="section">
                    <a>
                        <div class="img"><i class="icon-tag-1"></i></div>
                        <div class="name">UI</div>
                    </a>
                </li>
            </ul>
        </section>
    </div>
    <section class="comments up1c">
        <h2><i class="icon-comment"></i> Comments</h2>
        <div id="comments">
        {{#comments}}
            <div class="comment hi-05">
                <div class="author section hi-05">
                    <div class="control section">
                        <a>
                            <div class="img"><i class="icon-pencil"></i></div>
                        </a>
                        <a href="#{{url}}/remove" title="Remove">
                            <div class="img"><i class="icon-cancel"></i></div>
                        </a>
                    </div>
                    <a>
                        <div class="img"><i class="icon-user-1"></i></div>
                        <div class="name">{{opts.mid}}<span class="date">{{#localTime}}{{created}}{{/localTime}}</span></div>
                    </a>
                </div>
                <div class="message">{{opts.text}}</div>
            </div>
        {{/comments}}
        </div>
        <form id="comment" name="comment" method="POST" class="std">
            <input type="hidden" name="pid" value="{{id}}" />
            <input type="hidden" name="ptype" value="item" />
            <input type="hidden" name="mid" value="{{acct.id}}" />
            <h4>Add Comment</h4>
            <div class="field">
                <textarea class="text" name="text"></textarea>
            </div>
            <div class="field submit">
                <input type="submit" class="submit" value="Submit" />
            </div>
            <div class="error"></div>
        </form>
    </section>
    <section class="history up1c"><div class="c">
        <h2><i class="icon-clock"></i> History</h2>
        <ul class="history">
        {{#hist}}
            <li data-iv="{{iv}}" class="hi-05 color-50">
                <div class="hi-05 color-70 section">
                    <div class="img"><i class="icon-user-1"></i></div>
                    <div class="name">Kev<span class="date">{{#localTime}}{{ts}}{{/localTime}}</span></div>
                </div>
                <div class="diff">
                    {{#diff.name}}
                    <div class="name"><span class="k">Name</span> changed to <span class="value color-70">{{diff.name}}</span></div>
                    {{/diff.name}}
                    {{#diff.description}}
                    <div class="description text"><span class="k">Description</span> changed to <span class="value color-70">{{diff.description}}</span></div>
                    {{/diff.description}}
                    {{#diff.status}}
                    <div class="status"><span class="k">Status</span> changed to <span class="value color-70">{{diff.status}}</span></div>
                    {{/diff.status}}
                    {{#diff.bucket_id}}
                    <div class="bucket_id">Moved to bucket <span class="value color-70">{{diff.bucket_id}}</span></div>
                    {{/diff.bucket_id}}
                    {{#diff.plan_id}}
                    <div class="plan_id">Moved to plan <a class="value color-70" href="#{{#plan}}{{url}}{{/plan}}">{{diff.plan_id}}</a></div>
                    {{/diff.plan_id}}
                </div>
            </li>
        {{/hist}}
        </ul>
    </div></section>
{{/model.item.current}}
</div>
