{{#children}}
    <li class="section child">
        <a href="#{{url}}" class="{{#active}}hi-10 active{{/active}}">
            <div class="img"><i class="icon-angle-right"></i></div>
            <div class="name">{{opts.name}}</div>
        </a>
    </li>
    {{#hasChildren}}
    <ul class="children">
        {{>app/wiki/_children}}
    </ul>
    {{/hasChildren}}
{{/children}}
