<div class="plan-view folder-view" require-model="plan">
{{#model.plan.current}}
    <nav class="breadcrumbs icon-nav">
        <a href="#{{team.url}}/plan" data-keybind="Q" data-keybind-alt="escape" title="Planning"><i class="icon-calendar-check-o"></i></a>
        <span class="active" title="Plan"><i class="icon-flag-1"></i></span>
    </nav>
    <nav>
        <a href="#{{url}}/edit" data-keybind="E" title="Edit Plan"><i class="icon-pencil"></i></a>
        <a href="#{{url}}/new" data-keybind="C" title="Create Item"><i class="icon-plus-1"></i></a>
    </nav>
    <h1><i class="icon-{{icon}}"></i> {{opts.name}} <span class="sub">{{item_count_incomplete}} / {{item_count}}</span></h1>
    {{#opts.start}}
    <div class="up1c">
        {{opts.start}} - {{opts.end}}
    </div>
    {{/opts.start}}
    {{#opts.desc}}
    <div class="up1c">
        <section class="description color-bg">{{opts.desc}}</section>
    </div>
    {{/opts.desc}}
    <a id="skipnav" class="skip-nav" href="#{{url}}"></a>
    <div>
    <ul class="model">
    {{#item_collection}}
        {{#clone}}
        {{#filter_incomplete}}
        <li class="hi-10 up3c result-item">
            <a href="#{{url}}" class="hi-05">
                <i class="icon-archive"></i>
                <span class="name">Unassigned</span>
            </a>
            <ul class="items no-description incomplete">
            {{#clone}}
            {{#filter_unassigned}}
            {{#each}}
                {{>team/item/_li}}
            {{/each}}
            {{#empty}}
                <p class="empty color-30">None</p>
            {{/empty}}
            {{/filter_unassigned}}
            {{/clone}}
            </ul>
        </li>
        <li class="hi-10 up3c result-item">
            <a href="#{{url}}" class="hi-05">
                <i class="icon-user-1"></i>
                <span class="name">Assigned</span>
            </a>
            <ul class="items no-description incomplete">
            {{#clone}}
            {{#filter_assigned}}
            {{#each}}
                {{>team/item/_li}}
            {{/each}}
            {{#empty}}
                <p class="empty color-30">None</p>
            {{/empty}}
            {{/filter_assigned}}
            {{/clone}}
            </ul>
        </li>
        {{/filter_incomplete}}
        {{/clone}}
        {{#clone}}
        {{#filter_complete}}
        <li class="hi-10 up3c result-item">
            <a href="#{{url}}" class="hi-05">
                <i class="icon-check-1"></i>
                <span class="name">Complete</span>
            </a>
            <ul class="items no-description incomplete">
            {{#each}}
                {{>team/item/_li}}
            {{/each}}
            {{#empty}}
                <p class="empty color-30">None</p>
            {{/empty}}
            </ul>
        </li>
        {{/filter_complete}}
        {{/clone}}
    {{/item_collection}}
    </ul>
{{/model.plan.current}}
</div>
