<div class="wiki-index">
    <nav class="breadcrumbs">
        <a href="#{{team.url}}" class="invisible" data-keybind="Q" data-keybind-alt="escape"></a>
        <span class="active" title="Wiki"><i class="icon-book"></i></span>
    </nav>
    <nav>
        <a href="#{{team.url}}/wiki/new" data-keybind="C" title="Create Page"><i class="icon-plus-1"></i></a>
    </nav>
    <h1><i class="icon-book"></i> Wiki</h1>
    <a id="skipnav" class="skip-nav" href="#{{url}}"></a>
    <div class="up4c up4c3"></div>
    <div class="up4c up4c3b">
        {{>team/wiki/_toc}}
    </div>
</div>
