<div class="wiki" require-model="wiki">
{{#model.wiki.current}}
    <nav class="breadcrumbs">
        <a href="#{{parentUrl}}" data-keybind="Q" data-keybind-alt="escape" title="Wiki"><i class="icon-book"></i></a>
        <span title="Page"><i class="icon-angle-right"></i></span>
    </nav>
    <nav>
        <a href="#{{url}}/edit" data-keybind="E" title="Edit Pate"><i class="icon-edit"></i></a>
        <a href="#{{url}}/new" data-keybind="C" title="New Page"><i class="icon-plus-1"></i></a>
    </nav>
    <h1><i class="icon-{{icon}}"></i> {{opts.name}}</h1>
    <a id="skipnav" class="skip-nav" href="#{{url}}"></a>
    <div class="up4c3">
    {{#opts.text}}
        <section class="description color-bg" role="main">
            {{#codeblock}}{{#nl2br}}{{#linkify}}{{opts.text}}{{/linkify}}{{/nl2br}}{{/codeblock}}
        </section>
    {{/opts.text}}
    </div>
    <div class="up4c up4c3b">
        {{>team/wiki/_toc}}
    </div>
    {{>team/history/_section}}
{{/model.wiki.current}}
</div>
