<ul class="buckets" id="buckets">
{{#model.bucket.list}}
<li class="bucket hi-10 up3c" id="bucket-li-{{id}}">
    <a href="#{{url}}" class="hi-05">
        <i class="icon-folder"></i>
        <div class="info">{{item_count_incomplete}} / {{item_count}}</div>
        <span class="name">{{opts.name}}</span>
        <div class="progress hi-15" data-progress="{{progress}}"></div>
    </a>
    <ul class="items">
    {{#item_list}}
        {{>team/item/_li}}
    {{/item_list}}
    </ul>
</li>
{{/model.bucket.list}}
</ul>
