<div class="bucket-edit" require-model="bucket">
{{#bucket.current}}
    <nav class="breadcrumbs">
        <a href="#{{team.url}}">Team</a>
        <a href="#{{url}}" data-keybind="q escape">Bucket</a>
        <span>Edit</span>
    </nav>
    <h1><i class="icon-folder-open"></i> {{opts.name}}</h1>
    <form id="bucket-edit" name="bucket_edit" method="POST" class="std" data-bucket_id="{{id}}">
        <div class="field">
            <label for="bucket_name">Name</label>
            <input id="bucket_name" type="text" class="text required min-len-2" name="name" autocomplete="off" placeholder="Bucket Name" value="{{opts.name}}" />
        </div>
        <div class="field">
            <label for="bucket_description">Description</label>
            <textarea id="bucket_description" class="text" name="description">{{opts.description}}</textarea>
        </div>
        <div class="field submit">
            <input type="submit" class="submit" value="Save" />
            <a class="cancel" href="#{{url}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
{{/bucket.current}}
</div>
