<div class="bucket-index" id="bucket-index">
    <nav class="breadcrumbs">
        <a href="#{{team.url}}" class="active" data-keybind="q escape `">Team</a>
        <span class="active">Items</span>
    </nav>
    <nav>
        <a href="#{{team.url}}/new" data-keybind="c">Create Bucket</a>
    </nav>
    <h1><div class="img"><i class="icon-archive"></i></div> Items</h1>
    <form class="std horizontal color-bg filter" name="filter">
        <select name="status" class="text">
            <option value="">All Statuses</option>
            <option value="incomplete" selected="selected">Incomplete</option>
            {{#model.item.statuses}}
            <option value="{{key}}">{{label}}</option>
            {{/model.item.statuses}}
        </select>
        <select name="plan_id" class="text">
            <option value="" selected="selected">All Plans</option>
            {{#model.plan.all}}
            <option value="{{id}}">{{opts.name}}</option>
            {{/model.plan.all}}
            <option value="none">(unplanned)</option>
        </select>
        <select name="member_id" class="text">
            <option value="" selected="selected">All Members</option>
            {{#model.member.all}}
            <option value="{{id}}">{{opts.name}}</option>
            {{/model.member.all}}
            <option value="none">(unassigned)</option>
        </select>
        <a class="clear" href="#{{team.url}}/buckets?status=incomplete&plan_id=&member_id="><i class="icon icon-cancel"></i></a>
    </form>
    <a name="skipnav" class="skip-nav" href="#{{team.url}}"></a>
    <ul class="buckets" id="buckets">
    {{#model.bucket.list}}
    <li class="bucket hi-10 up3c" id="bucket-li-{{id}}">
        <a href="#{{url}}" class="hi-05">
            <i class="icon-folder"></i>
            <div class="info">{{item_count_incomplete}} / {{item_count}}</div>
            <span class="name">{{opts.name}}</span>
            <div class="progress hi-15" data-progress="{{progress}}"></div>
        </a>
        <ul class="items">
        {{#item_list}}
            <li class="item status-{{opts.status}} plan_id-{{opts.plan_id}} member_id-{{opts.member_id}}" id="item-li-{{id}}">
                <a href="#{{url}}" class="dim">
                    {{#status}}
                    <i class="icon-{{icon}}" role="img" title="{{label}}"></i>
                    {{/status}}
                    {{#plan}}
                    <i class="icon-{{icon}} plan-icon" title="{{opts.name}}"></i>
                    {{/plan}}
                    {{#member}}
                        {{#isMe}}
                        <i class="{{icon}} member-icon" title="{{opts.name}}"></i>
                        {{/isMe}}
                        {{^isMe}}
                        <i class="{{icon}} member-icon color-30" title="{{opts.name}}"></i>
                        {{/isMe}}
                    {{/member}}
                    <span class="name">{{opts.name}}</span>
                </a>
            </li>
        {{/item_list}}
        </ul>
    </li>
    {{/model.bucket.list}}
    {{^model.bucket.list}}
    <p class="empty">Team has no buckets</p>
    {{/model.bucket.list}}
    </ul>
</div>
