<div class="bucket" require-model="bucket">
{{#bucket.current}}
    <nav>
    {{#iv}}
        <a href="#{{url}}/remove" data-keybind="r">Remove</a>
        <a href="#{{url}}/edit" data-keybind="e">Edit</a>
    {{/iv}}
        <a href="#{{url}}/new" data-keybind="c">Create Item</a>
    </nav>
    <nav class="breadcrumbs">
        <a href="#{{team.url}}" class="active" data-keybind="q escape">Team</a>
        <span class="active">Bucket</span>
    </nav>
    <h1><i class="icon-folder-open"></i> {{opts.name}}</h1>
    {{#opts.description}}
    <p class="description hi-10">{{opts.description}}</p>
    {{/opts.description}}
    <a name="skipnav" class="skip-nav" href="#{{url}}"></a>
    <div class="up2"><div class="up2l">
        <ul class="items incomplete">
        {{#item_list_incomplete}}
            <li class="item status-{{opts.status}}" id="item-li-{{id}}">
                <a href="#{{url}}" title="{{opts.status}}">
                    {{#status}}
                    <i class="icon-{{icon}}" role="img" alt="{{label}}"></i>
                    {{/status}}
                    <span class="name">{{opts.name}}</span>
                </a>
                {{#opts.description}}
                <p class="description">{{.}}</p>
                {{/opts.description}}
            </li>
        {{/item_list_incomplete}}
        </ul>
    </div><div class="up2r">
        <ul class="items complete">
        {{#item_list_complete}}
            <li class="item status-{{opts.status}}" id="item-li-{{id}}">
                <a href="#{{url}}">
                    {{#status}}
                    <i class="icon-{{icon}}"></i>
                    {{/status}}
                    <span class="name">{{opts.name}}</span>
                </a>
            </li>
        {{/item_list_complete}}
        </ul>
    </div></div>
    {{^item_list}}
    <p class="empty">This bucket has no items.</p>
    {{/item_list}}
{{/bucket.current}}
</div>
