<li id="wiki-li-{{id}}">
    <a href="#{{url}}" class="dim">
        <div class="img"><i class="icon-{{icon}} color-30"></i></div>
        <span class="name">{{opts.name}}</span>
    {{#opts.text}}
        <p class="description color-50">{{opts.text}}</p>
    {{/opts.text}}
    </a>
</li>
