<section class="tags wiki-toc tags-full">
    <ul>
        <li class="section sibling">
            <a href="#{{team.url}}/wiki" class="{{^wiki_id}}hi-10 active{{/wiki_id}}">
                <div class="img"><i class="icon-book"></i></div>
                <div class="name">Home</div>
            </a>
        </li>
    {{#model.wiki.top}}
        <li class="section sibling">
            <a href="#{{url}}" class="{{#active}}hi-10 active{{/active}}">
                <div class="img"><i class="icon-book"></i></div>
                <div class="name">{{opts.name}}</div>
            </a>
        </li>
        {{>team/wiki/_children}}
    {{/model.wiki.top}}
    {{^model.wiki.top}}
        <p class="empty">Team has no wiki pages</p>
    {{/model.wiki.top}}
    </ul>
</section>
