<div class="wiki-edit" require-model="wiki">
{{#model.wiki.current}}
    <nav class="breadcrumbs">
        <a href="#{{team.url}}">Team</a>
        <a href="#{{team.url}}/wiki">Wiki</a>
        <a href="#{{url}}" data-keybind="q escape `">Page</a>
        <span>Edit</span>
    </nav>
    <h1><i class="icon-{{icon}}"></i> {{opts.name}}</h1>
    <form id="wiki-edit" name="wiki_edit" method="POST" class="std" data-wiki_id="{{id}}">
        <div class="field">
            <label for="wiki_name">Title</label>
            <input id="wiki_name" type="text" class="text large required min-len-2" name="name" autocomplete="off" placeholder="Page Title" value="{{opts.name}}" />
        </div>
        <div class="field">
            <textarea id="wiki_text" class="text tall full" name="text">{{opts.text}}</textarea>
        </div>
        <div class="field submit">
            <input type="submit" class="submit" value="Save Changes" />
            <a class="cancel" href="#{{url}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
{{/model.wiki.current}}
</div>
