<div class="wiki-index">
    <nav class="breadcrumbs">
        <a href="#{{team.url}}" class="active" data-keybind="q escape `">Team</a>
        <span class="active">Wiki</span>
    </nav>
    <nav>
        <a href="#{{team.url}}/wiki/new" data-keybind="c">Create Page</a>
    </nav>
    <h1><i class="icon-book"></i> Wiki</h1>
    <div class="up4c up4c3"></div>
    <div class="up4c up4c3b">
        {{>team/wiki/_toc}}
    </div>
</div>
