<div class="wiki-new">
    <nav class="breadcrumbs">
        <a href="#{{team.url}}">Team</a>
        <a href="#{{team.url}}/wiki" data-keybind="q escape `">Wiki</a>
        <span>New Page</span>
    </nav>
    <h1><i class="icon-book"></i> New Wiki Page</h1>
    <form id="wiki-new" name="wiki_new" method="POST" class="std">
        <input name="parent_id" type="hidden" value="{{wiki_id}}"/>
        <div class="field">
            <label for="wiki_name">Title</label>
            <input id="wiki_name" type="text" class="text large required min-len-2" name="name" autocomplete="off" placeholder="Page Title" value="{{opts.name}}" />
        </div>
        <div class="field">
            <textarea id="wiki_text" class="text tall full" name="text">{{opts.text}}</textarea>
        </div>
        <div class="field submit">
            <input type="submit" class="submit" value="Create Page" />
            <a class="cancel" href="#{{#model.wiki.current}}{{url}}{{/model.wiki.current}}{{^model.wiki.current}}{{team.url}}/wiki{{/model.wiki.current}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
</div>
