<div class="wiki-remove" require-model="wiki">
{{#model.wiki.current}}
    <nav class="breadcrumbs">
        <a href="#{{team.url}}">Team</a>
        <a href="#{{team.url}}/wiki" data-keybind="q escape `">Wiki</a>
        <span>Remove Page</span>
    </nav>
    <h1><i class="icon-{{icon}}"></i> {{opts.title}}</h1>
    <form id="wiki-remove" name="wiki_remove" method="POST" class="std ext remove">
        <input type="hidden" class="hidden" name="wiki_id" value="{{id}}"/>
        <p>Are you sure you want to remove this wiki page?</p>
        <div class="field submit">
            <input type="submit" class="submit" id="delete_submit" value="Remove Page" />
            <br/>
            <a class="cancel" href="#{{url}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
{{/model.wiki.current}}
</div>
