<div class="wiki" require-model="wiki">
{{#model.wiki.current}}
    <nav class="breadcrumbs">
        <a href="#{{team.url}}">Team</a>
        <a href="#{{team.url}}/wiki" data-keybind="q escape `">Wiki</a>
        <span>Page</span>
    </nav>
    <nav>
        <a href="#{{url}}/remove" data-keybind="r"><i class="icon-trash"></i> <span class="name">Remove</span></a>
        <a href="#{{url}}/edit" data-keybind="e"><i class="icon-edit"></i> <span class="name">Edit</span></a>
        <a href="#{{url}}/new" data-keybind="c"><i class="icon-plus-1"></i> <span class="name">New Page</span></a>
    </nav>

    <h1><i class="icon-{{icon}}"></i> {{opts.name}}</h1>
    <div class="up4c3">
    {{#opts.text}}
        <section class="description color-bg" role="main">
            {{#nl2br}}{{#linkify}}{{opts.text}}{{/linkify}}{{/nl2br}}
        </section>
    {{/opts.text}}
    </div>
    <div class="up4c up4c3b">
        {{>team/wiki/_toc}}
    </div>
    {{>team/history/_section}}
{{/model.wiki.current}}
</div>
