<div class="wiki" require-model="wiki">
{{#model.wiki.current}}
    <nav class="breadcrumbs">
        <a href="#{{team.url}}">Team</a>
        <a href="#{{team.url}}/wiki" data-keybind="q escape `">Wiki</a>
        <span>Page</span>
    </nav>
    <nav>
        <a href="#{{url}}/remove" data-keybind="r"><i class="icon-trash"></i> <span class="name">Remove</span></a>
        <a href="#{{url}}/edit" data-keybind="e"><i class="icon-edit"></i> <span class="name">Edit</span></a>
        <a href="#{{url}}/new" data-keybind="c"><i class="icon-plus-1"></i> <span class="name">New Page</span></a>
    </nav>

    <h1><i class="icon-{{icon}}"></i> {{opts.title}}</h1>
    <div class="up4c3">
    {{#opts.text}}
        <section class="description color-bg" role="main">
            {{#linkify}}{{#nl2br}}{{opts.text}}{{/nl2br}}{{/linkify}}
        </section>
    {{/opts.text}}
    </div>
    <div class="up4c up4c3b">
        {{>team/wiki/_toc}}
    </div>
    <section class="history up1c"><div class="c">
        <h2><i class="icon-clock"></i> History</h2>
        <ul class="history">
        {{#history}}
            <li data-iv="{{iv}}" class="hi-05 color-50">
                <div class="hi-05 color-70 section">
                {{#member}}
                    <div class="img"><i class="{{icon}}"></i></div>
                    <div class="name">
                        <a class="value color-70" href="#{{url}}">{{opts.name}}</a>
                        <span class="date">{{#localTime}}{{ts}}{{/localTime}}</span>
                    </div>
                {{/member}}
                {{^member}}
                    <div class="img"><i class="icon-user-1"></i></div>
                    <div class="name">
                        (unknown member) {{diff.member_id}}
                        <span class="date">{{#localTime}}{{ts}}{{/localTime}}</span>
                    </div>
                {{/member}}
                </div>
                <div class="diff">
                    {{#diff.parid}}
                    <div class="parid"><span class="k">Parent</span> {{#first}}set{{/first}}{{^first}}changed{{/first}} to <span class="value color-70">{{diff.parid}}</span></div>
                    {{/diff.parid}}
                    {{#diff.parent_id}}
                    <div class="parent_id"><span class="k">Parent</span> {{#first}}set{{/first}}{{^first}}changed{{/first}} to <span class="value color-70">{{diff.parent_id}}</span></div>
                    {{/diff.parent_id}}
                    {{#diff.title}}
                    <div class="title"><span class="k">Title</span> {{#first}}set{{/first}}{{^first}}changed{{/first}} to <span class="value color-70">{{diff.title}}</span></div>
                    {{/diff.title}}
                    {{#diff.name}}
                    <div class="title"><span class="k">Name</span> {{#first}}set{{/first}}{{^first}}changed{{/first}} to <span class="value color-70">{{diff.name}}</span></div>
                    {{/diff.name}}
                    {{#diff_text}}
                        {{#diff.text}}
                        <div class="description text">
                            <span class="k">Text</span> {{#first}}set{{/first}}{{^first}}changed{{/first}} <a data-toggle="history-text-{{iv}}"><i class="icon-angle-down"></i></a>
                            <p class="value color-70 description toggle-target hi-05" data-toggle-target="history-text-{{iv}}">{{#nl2br}}{{diff.text}}{{/nl2br}}</p>
                        </div>
                        {{/diff.text}}
                        {{^diff.text}}{{^first}}
                        <div class="description text">
                            <span class="k">Text</span> removed
                        </div>
                        {{/first}}{{/diff.text}}
                    {{/diff_text}}
                </div>
            </li>
        {{/history}}
        </ul>
    </div></section>
{{/model.wiki.current}}
</div>
