<div class="inner" data-tpljs="dashboard/chat">
<div class="nav">
    <ul class="channels scrollable">
        <li class="active hi-05-a"><a><i class="icon-megaphone"></i> Activity</a></li>
        <li class="active hi-05-a"><a><i class="icon-comment"></i> Comments</a></li>
        <li class="active hi-05-a"><a><i class="icon-chat-1"></i> Chat</a></li>
    </ul>
    <div class="ctrl hi-10">
    <!--
        <a class="toggle"><i class="icon-megaphone"></i>99 &nbsp;<i class="icon-comment"></i>99 &nbsp;<i class="icon-chat-1"></i>99</a>
    -->
    </div>
</div>
<div class="area">
    <div class="history scrollable hi-05">
        <div class="d hi-10">Wed, Dec 18</div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello. <i class="icon-emo-happy"></i></div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello. <i class="icon-emo-happy"></i><i class="icon-emo-coffee"></i></div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello. <i class="icon-emo-coffee"></i></div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> <i class="icon-emo-coffee"></i> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="d hi-10">Today</div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:02</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:02</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:03</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:05</span> <div class="t"><span class="n hi-05">Kevin B.</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kevin</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:01</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:02</span> <div class="t"><span class="n hi-05">Kevin Burns</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:02</span> <div class="t"><span class="n hi-05">Kev</span> Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:03</span> <div class="t"><span class="n hi-05">Kev</span> Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. 
        Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. 
        Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello. Hello.</div></div>
        <div class="l"><span class="ts hi-10">00:02</span> <div class="t"><span class="n hi-05"><i class="icon-comment"></i> Kev</span><a href="#/task..comments" class="force"> Can we try a different shade of blue?</a></div></div>
    </div>
    <div class="input">
        <form method="POST" class="std" autocomplete="off">
            <input class="text hi-10 c-70 open skip-nav" id="chat-input" type="text" name="msg" placeholder="&#xe83a;"/>
            <!--
            <a class="emo"><i class="icon-emo-happy"></i></a>
            -->
            <input class="submit hi-20 skip-nav" type="submit" name="msg" value="&#xe81c;"/>
        </form>
    </div>
    <div class="msg-alert"><a><i class="icon-down-1"></i> 3 New messages</a></div>
    <a class="toggle hi-10"><i class="icon-down-open-1"></i></a>
</div>
</div>