<div class="nav hi-05">
    <div class="section team hi-10">
        <a href="#/{{team.id}}">
            <div class="img"><i class="icon-users"></i></div>
            <div class="name">{{team.opts.name}}</div>
        </a>
    </div>
    <div class="section contacts scrollable">
        <a href="#/{{team.id}}/members">
            <div class="name">Members</div>
        </a>
        <a href="#/{{team.id}}/edit">
            <div class="name">Settings</div>
        </a>
    </div>
    <!--
    <div class="section contacts scrollable">
        <a>
            <i class="icon-phone-1"></i>
            <div class="img"><i class="icon-user-1"></i></div>
            <div class="name">Members</div>
        </a>
        <a>
            <i class="icon-phone-1"></i>
            <div class="img"><i class="icon-user-1"></i></div>
            <div class="name">Alice</div>
        </a>
        <a>
            <i class="icon-phone-1"></i>
            <div class="img"><i class="icon-user-1"></i></div>
            <div class="name">Bob</div>
        </a>
        <a class="offline">
            <i class="icon-phone-1"></i>
            <div class="img"><i class="icon-user-1"></i></div>
            <div class="name">Kev</div>
        </a>
        <a class="offline">
            <i class="icon-phone-1"></i>
            <div class="img"><i class="icon-user-1"></i></div>
            <div class="name">Kev</div>
        </a>
        <a class="offline">
            <i class="icon-phone-1"></i>
            <div class="img"><i class="icon-user-1"></i></div>
            <div class="name">Kev</div>
        </a>
        <a class="offline">
            <i class="icon-phone-1"></i>
            <div class="img"><i class="icon-user-1"></i></div>
            <div class="name">Kev</div>
        </a>
        <a class="offline">
            <i class="icon-phone-1"></i>
            <div class="img"><i class="icon-user-1"></i></div>
            <div class="name">Kev</div>
        </a>
    </div>
    -->
    <div id="status"></div>
</div>
<div class="area scrollable">
    <div class="content" id="dash-main"></div>
</div>
<span class="spinner c-20" id="loader"><i class="icon-logo"></i></span>
