<div class="section account hi-20" data-tpljs="dashboard/right">
    <!--
    <i class="icon-cog nav"></i>
    -->
    <a href="#/account" class="nav-point">
        <div class="img"><i class="icon-user-1"></i></div>
        <div class="name">{{acct.email}}</div>
    </a>
</div>
<div class="workload scrollable">
    {{#team.bucket_list}}
    <div class="section">
        <i class="icon-minus nav"></i>
        <div class="totals">
            {{item_count}}
        </div>
        <a href="#{{url}}" class="hi-10 bucket bucket-{{id}}">
            <div class="img"><i class="icon-flag-filled"></i></div>
            <div class="name">{{opts.name}}</div>
            <div class="progress" data-progress="{{progress}}"></div>
        </a>
        {{#item_count_incomplete}}
        <ul class="items">
        {{#item_list}}
            <li class="item-{{opts.status}}">
                <a href="#{{url}}" class="item item-{{id}}">{{#status}}<i class="icon-{{icon}}"></i>{{/status}}{{opts.name}}</a>
            </li>
        {{/item_list}}
        </ul>
        {{/item_count_incomplete}}
    </div>
    {{/team.bucket_list}}
<!--
    <div class="section">
        <i class="icon-minus nav"></i>
        <a href="#/release">
            <div class="img"><i class="icon-flag-filled"></i></div>
            <div class="name">1.0 Release</div>
        </a>
        <ul class="tasks">
            <li class="task-1234"><a href="#/task" data-target="main"><i class="icon-ok-squared"></i>Create login system</a></li>
            <li><a><i class="icon-check-empty"></i>Incomplete Task</a></li>
            <li><a><i class="icon-attention"></i>Blocked Task</a></li>
            <li><a><i class="icon-sliders"></i>Under QA</a></li>
            <li><a><i class="icon-minus-squared-alt"></i>Changes Required</a></li>
            <li><a><i class="icon-ok-squared"></i>Save identity to server</a></li>
            <li><a><i class="icon-check-empty"></i>Create a long task name that is much longer than one simple line</a></li>
        </ul>
    </div>
    <div class="section">
        <i class="icon-plus nav"></i>
        <a>
            <div class="img"><i class="icon-flag-filled"></i></div>
            <div class="name">1.1 Release</div>
        </a>
    </div>
    <div class="section">
        <i class="icon-plus nav"></i>
        <a>
            <div class="img"><i class="icon-flag-filled"></i></div>
            <div class="name">1.2 Release</div>
        </a>
    </div>
    <div class="section">
        <i class="icon-plus nav"></i>
        <a>
            <div class="img"><i class="icon-flag-filled"></i></div>
            <div class="name">1.3 Release</div>
        </a>
    </div>
    <div class="section">
        <i class="icon-plus nav"></i>
        <a>
            <div class="img"><i class="icon-folder"></i></div>
            <div class="name">Unassigned</div>
        </a>
    </div>
    <div class="section">
        <i class="icon-minus nav"></i>
        <a href="#/release">
            <div class="img"><i class="icon-folder-open"></i></div>
            <div class="name">Backburner</div>
        </a>
        <ul class="tasks">
            <li><a><i class="icon-attention"></i>Blocked Task</a></li>
            <li><a><i class="icon-sliders"></i>Under QA</a></li>
            <li><a><i class="icon-check-empty"></i>Create a long task name that is much longer than one simple line</a></li>
        </ul>
    </div>
-->
</div>
<div class="call"></div>