<div class="bucket">
    <nav class="breadcrumbs">
        <a href="#{{team.url}}" class="active" data-keybind="q escape">Team</a>
        <span class="active">Notes</span>
    </nav>
    <h1><i class="icon-edit"></i> Notes</h1>
</div>
