<div class="member-index">
    <nav class="breadcrumbs">
        <a href="#{{team.url}}" class="active" data-keybind="q escape `">Team</a>
        <span class="active">Members</span>
    </nav>
    <nav>
    {{#team.isAdmin}}
        <a href="#{{team.url}}/members/new" data-keybind="c">New Invite</a>
    {{/team.isAdmin}}
    </nav>
    <h1><i class="icon-flag-filled"></i> Members</h1>
    <ul class="folders member" id="members">
    {{#model.member.all}}
        {{#opts.pubKey}}
            {{>team/member/_li}}
        {{/opts.pubKey}}
    {{/model.member.all}}
    {{#model.member.all}}
        {{^opts.pubKey}}
            {{>team/member/_li}}
        {{/opts.pubKey}}
    {{/model.member.all}}
    </ul>
    {{^model.member.all}}
        <p class="empty">Team has no members</p>
    {{/model.member.all}}
</div>
