<div class="member-remove" require-model="member">
{{#model.member.current}}
    <nav class="breadcrumbs">
        <a href="#{{url}}">Member</a>
        <span>Leave</span>
    </nav>
    <h1><i class="{{icon}}"></i> {{opts.name}}</h1>
    <form id="remove" name="remove" method="POST" class="std ext remove">
        <input type="hidden" class="hidden" name="member_id" value="{{id}}"/>
        <p>Are you sure you want to leave this team?</p>
        <div class="field submit">
            <input type="submit" class="submit" id="delete_submit" value="Leave Team" />
            <br/>
            <a class="cancel" href="#{{url}}">cancel</a>
        </div>
        <div class="error"></div>
    </form>
{{/model.member.current}}
</div>
