<div class="member-view" require-model="member" id="member-view">
{{#model.member.current}}
    <nav class="breadcrumbs">
        <a href="#{{team.url}}/members" data-keybind="Q" data-keybind-alt="escape" title="Members"><i class="icon-users"></i></a>
        <span title="Member"><i class="{{icon}}"></i></span>
    </nav>
    <nav>
    {{#editable}}
        <a href="#{{url}}/edit" data-keybind="E" title="Edit Member"><i class="icon-pencil"></i></a>
    {{/editable}}
    </nav>
    <h1><i class="{{icon}}"></i> {{opts.name}} <span class="sub">{{opts.email}}</span></h1>
    {{#opts.description}}
    <div class="up1c">
        <section class="description color-bg">{{#codeblock}}{{#nl2br}}{{opts.description}}{{/nl2br}}{{/codeblock}}</section>
    </div>
    {{/opts.description}}
    <a id="skipnav" class="skip-nav" href="#{{url}}"></a>
    {{#model.plan.collect_all}}
    <div class="up1c upshort">
        <h4>Assigned</h4>
    </div>
    {{#filter_incomplete_member_items}}
    {{^empty}}
    <ul class="model plans">
        {{#each}}
        <li class="plan hi-10 up3c" id="plan-li-{{id}}">
            <a href="#{{url}}" class="hi-05">
                <i class="icon-{{icon}}"></i>
                <div class="info">{{item_count_incomplete}} / {{item_count}}</div>
                <span class="name">{{opts.name}}</span>
                <div class="progress hi-15" data-progress="{{progress}}"></div>
            </a>
            <ul class="items">
            {{#item_collection}}
            {{#filter_member_current}}
            {{#filter_incomplete}}
            {{#each}}
                {{>team/item/_li}}
            {{/each}}
            {{/filter_incomplete}}
            {{/filter_member_current}}
            {{/item_collection}}
            </ul>
        </li>
        {{/each}}
    </ul>
    {{/empty}}
    {{#empty}}
    <div class="up1c upshort">
        <p class="empty hi-05">No assigned items</p>
    </div>
    {{/empty}}
    {{/filter_incomplete_member_items}}
    <div class="up1c upshort">
        <h4>Complete</h4>
    </div>
    {{#filter_complete_member_items}}
    {{^empty}}
    <ul class="model plans">
        {{#each}}
        <li class="plan hi-10 up3c" id="plan-li-{{id}}">
            <a href="#{{url}}" class="hi-05">
                <i class="icon-{{icon}}"></i>
                <div class="info">{{item_count_incomplete}} / {{item_count}}</div>
                <span class="name">{{opts.name}}</span>
                <div class="progress hi-15" data-progress="{{progress}}"></div>
            </a>
            <ul class="items">
            {{#item_collection}}
            {{#filter_member_current}}
            {{#filter_complete}}
            {{#each}}
                {{>team/item/_li}}
            {{/each}}
            {{/filter_complete}}
            {{/filter_member_current}}
            {{/item_collection}}
            </ul>
        </li>
        {{/each}}
    </ul>
    {{/empty}}
    {{#empty}}
    <div class="up1c upshort">
        <p class="empty hi-05">No completed items</p>
    </div>
    {{/empty}}
    {{/filter_complete_member_items}}
    {{/model.plan.collect_all}}
{{/model.member.current}}
</div>
