<div id="dashboard" class="c require-auth require-team chat-collapsed" data-hash="{{thash}}" data-tpljs="layout/dashboard">
    <div class="right" id="right">
        {{>dashboard/right}}
    </div>
    <div class="main" id="main">
        {{>dashboard/main}}
    </div>
    <div class="chat" id="chat" data-autoclose="{{chat.autoclose}}">
        {{>dashboard/chat}}
    </div>
    <link id="theme" type='text/css' rel='stylesheet'/>
</div>
