<div id="dashboard" class="c require-auth require-team chat-collapsed" data-hash="{{thash}}" data-tpljs="layout/dashboard">
    <div class="main container" id="main">
        {{>dashboard/main}}
    </div>
    <div class="right container" id="right">
        {{>dashboard/right}}
    </div>
    <div class="chat container" id="chat" data-autoclose="{{chat.autoclose}}">
        {{>dashboard/chat}}
    </div>
    <link id="theme" type='text/css' rel='stylesheet'/>
    <div class="main bg"></div>
    <div class="right bg"></div>
    <div class="chat bg"></div>
</div>
