<div class="section team hi-20">
    <a href="#{{team.url}}" class="default-focus">
        <div class="img"><i class="icon-logo"></i></div>
        <div class="name">{{team.opts.name}}</div>
    </a>
</div>
<div class="scrollable">
    <div class="section hi-10">
        <i class="icon-down-open-1 nav color-hi-40"></i>
        <a href="#{{team.url}}/sprints" class="nav-section">
            <div class="img"><i class="icon-flag-filled"></i></div>
            <div class="name">Planning</div>
        </a>
    </div>
    <div class="section hi-10">
        <i class="icon-down-open-1 nav on color-hi-40"></i>
        <a href="#{{team.url}}/buckets" class="nav-section">
            <div class="img"><i class="icon-tags-1"></i></div>
            <div class="name">Items</div>
        </a>
    </div>
    <div class="section">
    {{#bucket.list}}
        <a href="#{{url}}" class="bucket {{active}}" data-obj="bucket-{{id}}">
            <div class="img"><i class="icon-folder"></i><i class="icon-folder-open"></i></div>
            <div class="name">{{opts.name}}</div>
            <div class="progress hi-10" data-progress="{{progress}}"></div>
        </a>
    {{/bucket.list}}
    </div>
    <div class="section hi-10">
        <i class="icon-down-open-1 nav color-hi-40"></i>
        <a href="#{{team.url}}/tags" class="nav-section">
            <div class="img"><i class="icon-doc"></i></div>
            <div class="name">Wiki</div>
        </a>
    </div>
    <div class="section hi-10">
        <i class="icon-down-open-1 nav color-hi-40"></i>
        <a href="#{{team.url}}/members" class="nav-section">
            <div class="img"><i class="icon-users"></i></div>
            <div class="name">Members</div>
        </a>
    </div>
    <div class="section hi-10">
        <i class="icon-down-open-1 nav color-hi-40"></i>
        <a href="#{{team.url}}/notes" class="nav-section">
            <div class="img"><i class="icon-edit"></i></div>
            <div class="name">Notes</div>
        </a>
    </div>
    <div class="section hi-10">
        <i class="icon-down-open-1 nav color-hi-40"></i>
        <a href="#{{team.url}}/edit" class="nav-section">
            <div class="img"><i class="icon-wrench"></i></div>
            <div class="name">Settings</div>
        </a>
    </div>
</div>
<div id="status"></div>
