<div class="section account hi-20">
    <a href="#/account" class="default-focus">
        <div class="img"><i class="icon-user-1"></i></div>
        <div class="name">{{acct.email}}</div>
    </a>
</div>
<div class="workload scrollable">
    {{#plan.all}}
    <div class="section">
        <i class="icon-minus nav"></i>
        <div class="totals">
            {{item_count}}
        </div>
        <a href="#{{url}}" class="hi-10 bucket {{active}}" data-obj="plan-{{id}}">
            <div class="img"><i class="icon-{{icon}}"></i></div>
            <div class="name">{{opts.name}}</div>
            <div class="progress hi-15" data-progress="{{progress}}"></div>
        </a>
        {{#item_count_incomplete}}
        <ul class="items">
        {{#item_list_incomplete}}
            <li class="item-{{opts.status}}">
                <a href="#{{url}}" data-obj="item-{{id}}">{{#status}}<i class="icon-{{icon}}"></i>{{/status}}{{opts.name}}</a>
            </li>
        {{/item_list_incomplete}}
        </ul>
        {{/item_count_incomplete}}
    </div>
    {{/plan.all}}
</div>
<div class="call"></div>
