{{#team}}
    {{#queue.length}}
        <a href="#{{team.url}}/outbox" class="outbox hi-10"><i class="icon-upload"></i><span>{{queue.length}}</span></a>
    {{/queue.length}}
{{/team}}
{{#online}}
    {{#updateready}}
        Update Ready
    {{/updateready}}
    {{^updateready}}
        Online
    {{/updateready}}
{{/online}}
{{^online}}
    Offline
{{/online}}
