{{#team.theme}}

#dashboard .right { color: rgba({{right.color}}, 0.7); background: rgba({{right.bg}},1); }
#dashboard .right .scrollable::-webkit-scrollbar-track { background: rgba({{right.hi}}, 0.1); }
#dashboard .right .scrollable::-webkit-scrollbar-thumb { background: rgba({{right.hi}}, 0.2); }
#dashboard .right ::-moz-selection { background: rgba({{right.hi}}, 0.2); }
#dashboard .right ::selection { background: rgba({{right.hi}}, 0.2); }
#dashboard .right a { color: rgba({{right.color}}, 0.9); }
#dashboard .right ul a { color: rgba({{right.color}}, 0.8); }
#dashboard .right a:hover,
#dashboard .right .active a { color: rgba({{right.color}}, 0.9); }
#dashboard .right ul.items li a.active { background: rgba({{right.hi}}, 0.10); }
#dashboard .right .hi-05 { background: rgba({{right.hi}}, 0.05); }
#dashboard .right .hi-10 { background: rgba({{right.hi}}, 0.10); }
#dashboard .right .hi-15 { background: rgba({{right.hi}}, 0.15); }
#dashboard .right .hi-20 { background: rgba({{right.hi}}, 0.20); }
#dashboard .right .color-15 { background: rgba({{right.color}}, 0.15); }

#dashboard .right .section .img { background: rgba({{right.hi}},0.1); }
#dashboard .right a:focus { background: rgba({{right.hi}}, 0.1); }
#dashboard .right a.bucket:focus { background: rgba({{right.hi}}, 0.15); }

#dashboard .main { color: rgba({{main.color}}, 0.7); background: rgba({{main.bg}}, 1); }
#dashboard .main .scrollable::-webkit-scrollbar-track { background: rgba({{main.hi}}, 0.05); }
#dashboard .main .scrollable::-webkit-scrollbar-thumb { background: rgba({{main.hi}}, 0.15); }
#dashboard .main ::-moz-selection { background: rgba({{main.hi}}, 0.2); }
#dashboard .main ::selection { background: rgba({{main.hi}}, 0.2); }
#dashboard .main ins { background: rgba({{main.hi}}, 0.1); }
#dashboard .main del { color: rgba({{main.color}}, 0.3); }
#dashboard .main a { color: rgba({{main.color}}, 0.8); }
#dashboard .main a.dim { color: rgba({{main.color}}, 0.7); }
#dashboard .main a:hover,
#dashboard .main .active a { color: rgba({{main.color}}, 0.9); }
#dashboard .main h1 { color: rgba({{main.color}},0.9); }
#dashboard .main .bg-40 { background: rgba({{main.bg}}, 0.40); }
#dashboard .main .bg { background: rgba({{main.bg}}, 1); }
#dashboard .main .hi { box-shadow: 0 0 2em rgba({{main.hi}}, 0.1); }
#dashboard .main .hi-05 { background: rgba({{main.hi}}, 0.05); }
#dashboard .main .hi-10 { background: rgba({{main.hi}}, 0.10); }
#dashboard .main .hi-15 { background: rgba({{main.hi}}, 0.15); }
#dashboard .main .hi-20 { background: rgba({{main.hi}}, 0.20); }
#dashboard .main .bg-color-05 { background: rgba({{main.color}}, 0.05); }
#dashboard .main .bg-color-10 { background: rgba({{main.color}}, 0.10); }
#dashboard .main .color-10 { background: rgba({{main.color}}, 0.10); }
#dashboard .main .color-15 { background: rgba({{main.color}}, 0.15); }
#dashboard .main .color-hi-40 { color: rgba({{main.hi}}, 0.4); }
#dashboard .main .color-70 { color: rgba({{main.color}}, 0.7); }
#dashboard .main .color-50 { color: rgba({{main.color}}, 0.5); }
#dashboard .main .color-30 { color: rgba({{main.color}}, 0.3); }

#dashboard .main section { background: rgba({{main.hi}},0.05); }
#dashboard .main form.ext.std,
#dashboard .main form.std { background: rgba({{main.hi}}, 0.05); }
#dashboard .main form.std.color-bg { background: rgba({{main.hi}}, 0.1); border: none; }
#dashboard .main form.std input.text,
#dashboard .main form.std select.text,
#dashboard .main form.std textarea.text { background: rgba({{main.bg}}, 0.6); color: rgba({{main.color}}, 1); }
#dashboard .main form.std select.text option { background: rgba({{main.bg}}, 0.7); }
#dashboard .main form.std input.submit { background: rgba({{main.hi}}, 0.1); color: rgba({{main.color}}, 0.7); }
#dashboard .main form.std input.submit:hover { background: rgba({{main.hi}},0.2); outline: none; }
#dashboard .main .section .img { background: rgba({{main.hi}},0.1); }
#dashboard .main .nav #status.offline { background: rgba({{main.hi}}, 0.1); }
#dashboard .main .nav #status.update { background: rgba({{main.hi}}, 0.1); }
#dashboard .main .color-bg { border-left: 0.2em solid rgba({{main.hi}},0.1); border-right: 0.2em solid rgba({{main.hi}},0.1); background: rgba({{main.hi}},0.1); }

#dashboard .main ul.buckets li a:hover { background: rgba({{main.hi}}, 0.1); }
#dashboard .main ul.items li a:hover { background: rgba({{main.hi}}, 0.1); }

#dashboard .main .content a:focus,
#dashboard .main input:focus,
#dashboard .main select:focus,
#dashboard .main textarea:focus { outline: 2px solid rgba({{main.hi}}, 0.15); }
#dashboard .main a:focus { background: rgba({{main.hi}}, 0.1); }
#dashboard .main form.std input.text::-webkit-input-placeholder { color: rgba({{main.color}},0.5); }
#dashboard .main form.std input.text::-moz-placeholder { color: rgba({{main.color}},0.5); }
#dashboard .main form.std input.text::-ms-input-placeholder { color: rgba({{main.color}},0.5); }

#dashboard .main form.std input.submit:focus { background: rgba({{main.hi}},0.2); outline: none; }

#dashboard .main .autoselect .options { background: rgba({{main.bg}}, 0.9); }

#dashboard .left a.active { background: rgba({{main.hi}}, 0.05); }
#dashboard .left .scrollable::-webkit-scrollbar-track { background: rgba({{main.hi}}, 0.05); }
#dashboard .left .scrollable::-webkit-scrollbar-thumb { background: rgba({{main.hi}}, 0.1); }

#dashboard .main .autoselect .options { box-shadow: 0 0 1.5em rgba({{main.hi}}, 0.2); }

#dashboard .main .left a:focus { background: rgba({{main.hi}}, 0.05); }
#dashboard .main .nav #status { box-shadow: 0 0 1em rgba({{main.bg}},1); }

#dashboard .breadcrumbs a { background: rgba({{main.hi}}, 0.15); }
#dashboard .breadcrumbs span { background: rgba({{main.hi}}, 0.10); }

#dashboard .chat { color: rgba({{chat.color}}, 0.7); background: rgba({{chat.bg}},1); }
#dashboard .chat:before { box-shadow: inset 1em 1em 2em rgba({{chat.hi}}, 0.05); }
#dashboard .chat .scrollable::-webkit-scrollbar-track { background: rgba({{chat.hi}}, 0); }
#dashboard .chat .scrollable::-webkit-scrollbar-thumb { background: rgba({{chat.hi}}, 0.15); }
#dashboard .chat a { color: rgba({{chat.color}}, 0.7); }
#dashboard .chat a:hover,
#dashboard .chat .active a { color: rgba({{chat.color}}, 0.9); }
#dashboard .chat ::-moz-selection { background: rgba({{chat.hi}}, 0.2); }
#dashboard .chat ::selection { background: rgba({{chat.hi}},0.2); }
#dashboard .chat input.text::-webkit-input-placeholder { color: rgba({{chat.color}}, 0.2); }
#dashboard .chat input.text:-moz-placeholder { color: rgba({{chat.color}}, 0.2); }
#dashboard .chat input.text::-moz-placeholder { color: rgba({{chat.color}}, 0.2); }
#dashboard .chat input.text:-ms-input-placeholder { color: rgba({{chat.color}}, 0.2); }
#dashboard .chat .msg-alert { background: rgba({{chat.bg}}, 0.9); }
#dashboard .chat .active.hi-05-a { background: rgba({{chat.hi}}, 0.05); }
#dashboard .chat .hi-05 { background: rgba({{chat.hi}}, 0.05); }
#dashboard .chat .hi-10 { background: rgba({{chat.hi}}, 0.10); }
#dashboard .chat .hi-20 { background: rgba({{chat.hi}}, 0.20); }
#dashboard .chat .c-70 { color: rgba({{chat.color}}, 0.70); }
#dashboard .chat form.std { background: rgba({{chat.hi}}, 0.10); box-shadow: 0 0 1em rgba({{chat.hi}},0.1); }

#dashboard .chat input.text:focus { outline: none; background: rgba({{chat.hi}}, 0.15); }

{{#item.statuses}}
#dashboard .main .filter-status-{{key}} [class*=status-] { display: none; }
#dashboard .main .filter-status-{{key}} .status-{{key}} { display: block; }
{{/item.statuses}}

{{#plan.all}}
#dashboard .main .filter-plan_id-{{id}} ul ul li:not(.plan_id-{{id}}) { display: none; }
{{/plan.all}}
#dashboard .main .filter-plan_id-none ul ul li:not(.plan_id-) { display: none; }

{{#member.all}}
#dashboard .main .filter-member_id-{{id}} ul ul li:not(.member_id-{{id}}) { display: none; }
{{/member.all}}
#dashboard .main .filter-member_id-none ul ul li:not(.member_id-) { display: none; }

#date_selector { background: rgba({{main.bg}}, 1); color: rgba({{main.color}}, 0.7); }
#date_selector a { color: rgba({{main.color}}, 0.8); }
#date_selector a.active { color: rgba({{main.color}}, 0.9); background: rgba({{main.hi}}, 0.15); }
#date_selector a.today { color: rgba({{main.color}}, 0.9); background: rgba({{main.color}}, 0.1); }
#date_selector a:hover { color: rgba({{main.color}}, 0.9); background: rgba({{main.hi}}, 0.15); text-decoration: none; }
#date_selector .hi-05 { background: rgba({{main.hi}}, 0.05); }
#date_selector .hi-10 { background: rgba({{main.hi}}, 0.10); }

{{/team.theme}}