<div class="wiki-edit" require-model="wiki">
{{#model.wiki.current}}
    <nav class="breadcrumbs">
        <a href="#{{team.url}}/wiki" title="Wiki"><i class="icon-book"></i></a>
        <a href="#{{url}}" data-keybind="Q" data-keybind-alt="escape" title="Page"><i class="icon-angle-right"></i></a>
        <span title="Edit Page"><i class="icon-edit"></i></span>
    </nav>
    <nav>
        <a href="#{{url}}/remove" data-keybind="R" title="Remove Page"><i class="icon-trash"></i></a>
    </nav>
    <h1><i class="icon-{{icon}}"></i> {{opts.name}}</h1>
    <a id="skipnav" class="skip-nav" href="#{{url}}/edit"></a>
    <div class="up1c">
        <form id="wiki-edit" name="wiki_edit" method="POST" class="std" data-wiki_id="{{id}}">
            <div class="field">
                <label for="wiki_name">Title</label>
                <input id="wiki_name" type="text" class="text large required min-len-2" name="name" autocomplete="off" placeholder="Page Title" value="{{opts.name}}" />
            </div>
            <div class="field">
                <textarea id="wiki_text" class="text tall full" name="text">{{opts.text}}</textarea>
            </div>
            <div class="field submit">
                <input type="submit" class="submit" value="Save Changes" />
                <a class="cancel" href="#{{url}}">cancel</a>
            </div>
            <div class="error"></div>
        </form>
    </div>
{{/model.wiki.current}}
</div>
